[2017-08-04 02:49] hazendaz opened #1 "[readme] Opening Issues against spotbugs or findbugs plugin"
This plugin is a continuation of findbugs-maven-plugin.  We are by default keeping the master in sync with findbugs-maven-plugin at the current time.  When opening bugs, please consider if the issue is with the original plugin which has it's own bug tracking [here](https://github.com/gleclaire/findbugs-maven-plugin/issues) or with spotbugs changes.  Every attempt will be made to perform bug fixes

[2017-08-10 18:07] h3xstream opened #2 "Maven command (groupId, artifactId, etc.)"
The README state a command that doesn't work unless special alias are created.
`mvn com.github.spotbugs:spotbugs-maven-plugin:3.1.0-SNAPSHOT:gui`

Based on the maven repository link .. I found this instance of the plugin which work..
`mvn com.github.hazendaz.spotbugs:spotbugs-maven-plugin:3.1.0-RC4:findbugs`

This is much longer than the previous `mvn findbugs:findbugs`

[2017-08-11 01:55] hazendaz commented on #2
You can run with

```mvn spotbugs:findbugs```

or

```mvn spotbugs:gui```

The readme is identical other than I switched out the details from old plugin to new one.  Its otherwise about as close to the old plugin as possible.  I will cleanup the readme as the longer command is highly unnecessary but I will get that done on the core project first and once merged rebase over here.  I'll also swap ou

[2017-08-13 02:52] h3xstream commented on #2
`mvn spotbugs:findbugs` is not possible without additional configuration.

The previous plugin was release with the `org.codehaus.mojo` groupId which is configured by default in Maven.
http://search.maven.org/#search%7Cgav%7C1%7Cg%3A%22org.codehaus.mojo%22%20AND%20a%3A%22findbugs-maven-plugin%22

[2017-08-13 22:10] hazendaz commented on #2
mvn spotbugs:findbugs works for me so I'm not sure I'm fully understanding the issue you are observing here.  What does switch from mojo to another groupId specifically cause, can you show me some more details?  There is barely anything different from the original plugin at this point as original auther has been accepting everyting so at best the only change is to switch to spotbugs:findbugs.  I'v

[2017-08-15 19:43] h3xstream commented on #2
My suggestion :
- Either update the groupId to match the README : `mvn com.github.spotbugs:spotbugs-maven-plugin:3.1.0-SNAPSHOT:gui`
- Change the readme to `mvn com.github.hazendaz.spotbugs:spotbugs-maven-plugin:3.1.0-RC4:findbugs`

Bonus: Consider using a groupId that is part default plugin groupId.

[2017-08-15 22:28] hazendaz commented on #2
Can you show me your error?  I'm not having the issue you are and I think you are mixing issues.  The hazendaz release was prior to this being brought over here.  This copy hasn't been released.  The read me refers to how to run providing full naming.  That is verbatim from original plugin with names changed.  This runs without any of that as I indicated.  Please show me what failure you are getti

[2017-08-18 15:38] h3xstream commented on #2
Ah! Now everything is clear. 😄

[2017-09-28 02:01] hazendaz commented on #2
This is now fixed on this repo and will be released soon.

[2017-09-28 02:01] #2 closed

[2017-10-10 02:54] hazendaz opened #5 "Speed up integration tests"
Run integration tests multi threaded if possible as they are close to limit of travis cut off point (used to be 50 minutes and I'm sure it still is).  The integration tests take around 45 minutes to run.  We need quicker feedback of things working.  Tests are separate so using -T 2C or similar will probably help out quite a bit but needs tested.

[2017-10-11 03:27] hazendaz commented on #5
Done via 1d78f59 which is temporary as that is expected to go into findbugs-maven-plugin.  Thank you @KengoTODA for getting a resolution so fast.  I've even updated the readme to reflect this as it greatly improves local as well.  I got 12 minutes consistently on my machine.

[2017-10-11 03:27] #5 closed

[2017-10-19 02:00] hazendaz opened #8 "jdk9 builds fail on travis"
It works fine locally so not sure what the issue is.  I have been using java 9 since 9/30 to perform all my builds.  If I ask travis to run jdk9, the plugin fails for the following issue.    Seems like that '0' on version number is key and we probably should replace cobertura anyways.  Not sure if jacoco handles better but historically it's had more support and been better for unit tests.

[ERROR]

[2017-10-21 15:23] twohey opened #9 "Plugin fails on macOS 10.13 (High Sierra) with ArrayIndexOutOfBoundsException"
A minimal project with one class and no methods evidences this error. I've made a simple project which demonstrates this issue at https://github.com/twohey/spotbugs-bug

[code]
[code]

[2017-10-21 15:56] iloveeclipse commented on #9
Can you please post the full stack trace, and also the version of spotbugs and plugin used? Thanks.

[2017-10-21 16:31] iloveeclipse commented on #9
I can't reproduce neither with Java 8 nor with Java 9, but I'm using mingw on windows.
[code]

[code]

[2017-10-21 18:46] hazendaz commented on #9
Possibly local configuration is bad.  While reported differently, this claims that similar issue when pom or maven settings files are not properly tagged with UTF-8.  See [here](https://stackoverflow.com/questions/17916252/maven-install-error-cant-perform-any-maven-operation-on-specifical-maven-projec)

[2017-10-24 02:14] twohey commented on #9
The full stack trace is:

[code]

[2017-10-24 02:16] twohey commented on #9
@iloveeclipse the version is that specified in the `pom.xml` of the example project: 3.1.0-RC6

[2017-10-24 02:19] twohey commented on #9
@hazendaz I do not think it is a maven issue as I have neither `$M2_HOME` set nor a `~/.m2/settings.xml` file.

[code]

[2017-10-26 00:24] jasonab opened #10 "Plugin bug descriptions do not show in GUI"
I'm not sure if I should file this here or in the GUI project, but since I run the GUI through the maven plugin, I'll start here.

I have several plugins configured to run through the maven plugin:
[code]
and they run and generate bugs. But, when I run `mvn spotbugs:gui` they show up as "Unknown Bug Pattern" and I don't see the JARs in the classpath.

[2017-10-26 05:18] iloveeclipse commented on #10
Can you please change to the latest version and verify again?

[2017-10-26 18:49] iloveeclipse commented on #10
The latest spotbugs version is 3.1.0.

[2017-10-26 19:11] jasonab commented on #10
I still see it with 3.1.0 on the same Maven plugin snapshot

[2017-10-29 22:25] hazendaz commented on #10
@jasonab Is this related to this -> [here](https://github.com/gleclaire/findbugs-maven-plugin/pull/38)

@iloveeclipse I haven't released official 3.1.0 cut yet.  Because it looks like the issue with gui might be fixed now as it had previously attempted PR that needs cleaned up and seems developer trying to fix it might have it addressed soon, I'll wait a bit to pick that up.  Hopefully it is same

[2017-10-29 22:45] jasonab commented on #10
@hazendaz seems like that might very well be the case

[2017-10-31 01:06] hazendaz commented on #10
thanks @VsevolodGolovanov

[2017-10-31 04:02] hazendaz commented on #10
@jasonab Can you try version 3.1.0-RC7 of spotbugs-maven-plugin and let me know if this issue is addressed?

[2017-10-31 17:12] VsevolodGolovanov commented on #10
https://github.com/spotbugs/spotbugs-maven-plugin/commit/02d107c87988267c55eb5df40ccb4bb12cfccc41

[2017-11-01 01:22] hazendaz commented on #10
@VsevolodGolovanov I"m unfamiliar with this piece.  It doesn't look like the code is correct.  Simple run of the gui fails as @jasonab indicated.  I moved the threshold method into the findbugs trait class.  Then it complianed that there was no threshold so I assumed that was in the wrong place.  However, adding the threshold, it then crashes because threshold is not a valid option to gui.  So I c

[2017-11-01 17:09] VsevolodGolovanov commented on #10
I don't understand the intent either. I just checked that it wasn't my subj-related code that added the issue. Then I posted the likely offending commit to save others some time looking for it. I should've been more clear about all this in my previous comment.

I created FindBugsPluginsTrait to consolidate the FindBugs plugins related logic, so this commit doesn't make sense to me at all on the co

[2017-11-03 23:39] hazendaz commented on #10
@gleclaire Can you help out here?

[2017-11-06 16:09] gleclaire commented on #10
Yes I accidentally checked in some code I was working on to have the gui have the parameters the command line does.
I will fix and commit.
Unfortunately I have not found a good way to do automated integration tests for the gui

[2017-11-09 01:42] hazendaz commented on #9
@twohey What maven version are you using?

[2017-11-09 01:47] hazendaz commented on #10
Thanks @gleclaire

@VsevolodGolovanov  I have released 3.1.0-RC8.  Can you take a look and let me know if this solves the overall issue?

[2017-11-11 19:36] twohey commented on #9
@hazendaz

I was using maven 3.5.0

[code]

Your question got me thinking and I upgrade my maven to 3.5.2

[code]

Now the build is successful, but does warn about  illegal groovy method accesses, which I'm happy to file a separate bug report on.

[code]

[2017-11-24 00:24] hazendaz commented on #9
@iloveeclipse Do you think that issue is in spotbugs itself since it is using dom4j or do you think its the plugin usage?

[2017-11-24 06:36] iloveeclipse commented on #9
Tjere are two issues, caused by using Java 9 as JVM:
1) Groovy illegal reflection use warning: that is from plugin
2) dom4j warning: that is from spotbugs (there is a ticket to update dom4j already)

Both are thanks to the Java 9 paranoia.

[2017-11-27 20:25] efenderbosch opened #13 "Release 3.1?"
Spotbugs 3.1 has been released, but this plugin is still in RC status. Any timeline on publishing to maven?

[2017-11-27 23:46] hazendaz commented on #13
It's published under rc8.  It's only not final as its waiting on user feedback of a feature for gui.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Eric Fenderbosch <notifications@github.com>
Sent: Monday, November 27, 2017 3:25:15 PM
To: spotbugs/spotbugs-maven-plugin
Cc: Subscribed
Subject: [spotbugs/spotbugs-maven-plugin] Release 3.1? (#13)

Spotbugs 3.1

[2017-11-30 02:03] hazendaz commented on #13
see [here](http://search.maven.org/#artifactdetails%7Ccom.github.spotbugs%7Cspotbugs-maven-plugin%7C3.1.0-RC8%7Cmaven-plugin) for the currently released version which is against spotbugs 3.1.0.  While we are making every attempt to stay on version alignment we needed at least one more RC so a bug against original plugin could be verified fixed.  We have since had one additoinal bug potentially aga

[2017-12-15 22:38] jasonab commented on #10
My apologies for the delayed feedback here. RC8 appears to solve the problem for me.

[2017-12-17 01:07] hazendaz commented on #10
@jasonab Thanks!  I'll close this ticket now.

[2017-12-17 01:07] #10 closed

[2017-12-17 01:40] hazendaz commented on #1
Closing as @hazendaz is addressing needs with @gleclaire as needed and there is no reason at this point to impose this upon the community that might be using this plugin versus the older findbugs variation.

[2017-12-17 01:40] #1 closed

[2017-12-17 01:42] hazendaz commented on #8
cobertura has been entirely disabled #3c91530

[2017-12-17 03:00] hazendaz commented on #9
Groovy issue is not even fixed on their alpha 3.0.0-alpha-1 which supports java 9 fully per their release notes.  It's a warning at best so safe to ignore that.

[2017-12-17 03:03] hazendaz commented on #8
Additional items were done to try to address cobertura.  Unfortunately it's in the apache parent, hasn't been touched in a long time, and skipping does nothing with java 9 as it still insists on running things inside it that require java 9 to have tools.jar that doesn't exist now and further is trying to find it through non existent assumed location of the JRE as there are no longer two copies.  I

[2017-12-17 06:56] hazendaz commented on #8
Replaced the mojo-parent from apache with my own base-parent which is well supported and used in a number of projects.  That corrected all but two IT tests.  Those two IT tests did not use a parent of their own on purpose for the test and as such were defaulting to java 5.  Since this plugin with new spotbugs requires at least java 8, raised that to match the other usage when parents where in play

[2017-12-17 06:56] #8 closed

[2017-12-17 06:59] hazendaz commented on #9
Closing this issue as not applicable to this plugin itself.  The groovy issue seems to be known after some google searches.  However, given groovy is only 3.0.0-alpha-1 right now they do not have it yet fixed.  We will stick to 2.4.13 at this point in time and those are effectively warnings that means it might break later (possibly in java 10).  The dom4j thing has a ticket already.  Given both ar

[2017-12-17 06:59] #9 closed

[2017-12-17 08:42] hazendaz commented on #13
@efenderbosch 3.1.0 has been released and 3.1.1 is coming right behind it.  This is fully supported on java 9 too now.

[2017-12-17 08:42] #13 closed

[2018-01-07 13:50] blasd opened #21 "Maven plugin spot-bugs leads to mvn incompatibilities in other plugins"
Hello,

According to spot-bugs maven plugin, Spotbugs is compatible with

    <prerequisites>
      <maven>3.0.1</maven>
    </prerequisites>

However, it seems the use of <artifactId>maven-core</artifactId> in 3.5.2 leads to incompatibilities in other plugins when run in an older maven version (e.g. mvn 3.2.5 and mvn 3.3.9).

In https://github.com/blasd/spotbugs-maven-plugin/tree/IssueMaven3_3, y

[2018-01-07 17:44] hazendaz commented on #21
That makes sense.  The injection loaders changed for the better.  I think the appropriate thing is to require latest maven.  Outside of why 3.2.5 might be used there were simply to many bugs through others and if we attempted to support all then java 9 support would be a no go or just too complicated.

Pre 3.2.5 I'm not overly concerned as I don't think they should be used now and certainly any ne

[2018-01-07 19:28] blasd commented on #21
I initially get an issue with maven-deploy-plugin in its latest versiob (2.8.2). [https://github.com/apache/maven-plugins/blob/c719f8da6d9380d2b9f3f0b311b1b2cbcb3f9cf7/maven-deploy-plugin/pom.xml](url) shows it might be a best practise to align maven dependencies

    <dependency>
      <groupId>org.apache.maven</groupId>
      <artifactId>maven-project</artifactId>
      <version>${mavenVersion}<

[2018-01-15 03:02] urbandroid commented on #10
Document at http://spotbugs.readthedocs.io/en/latest/maven.html should reference RC8 since RC7 has this issue.

[2018-01-15 04:00] hazendaz commented on #10
@urbandroid Can you report that over on spotbugs?  3.1.1 of this plugin was released so no override is needed now.

[2018-01-15 04:09] hazendaz commented on #10
Or actuallly not even sure where to open that for a fix myself.  @iloveeclipse where do we update the doc for maven information?  This issue is fixed on 3.1.1 release and we should reference the right version on the docs.  I sort of think that comes out of spotbugs itself as I found the source page but it has a bunch of variables and not sure where those are set to show the right stuff.

[2018-01-21 10:08] iloveeclipse commented on #10
Readthedocs has a good feature: on every page you read you see the link in the top right corner "Edit on GitHub". In current case this would be `https://github.com/spotbugs/spotbugs/blob/master/docs/maven.rst`.

[2018-01-23 06:56] h3xstream opened #23 "Support for classifier configuration of Plugin artifact"
I need to bundle dependencies with a SpotBugs plugin. The easiest way to publish this plugin is releasing the normal jar and a jar with all the needed dependencies.

My small obstacle is that I can't configure a classifier in the PluginArtifact XML section.
https://github.com/spotbugs/spotbugs-maven-plugin/blob/263bbd08e3243940ec73bc62dd2c2862ab50b966/src/main/groovy/org/codehaus/mojo/spotbugs/Spo

[2018-01-24 01:41] hazendaz commented on #23
@gleclaire Hi, I was wondering if you could take a look at this issue.

[2018-01-25 19:05] h3xstream commented on #23
I have temporary fix that might not be ideal for end-user .. but good enough for me:

The `fork` parameter set to false allow spotbugs to run in the context of the Maven process.
I can then add dependencies to the spotbugs-plugin manually. Those are then available to the my detector plugin.

[code]

[2018-01-27 04:55] lkamal opened #24 "Readme refers to a SNAPSHOT version which is incorrect"
It seems the README is referring to a 3.1.0-SNAPSHOT version which is not available in maven central. We need to modify that as 3.1.1

    <dependency>
        <groupId>com.github.spotbugs</groupId>
        <artifactId>spotbugs-maven-plugin</artifactId>
        <version>3.1.1</version>
    </dependency>

[2018-01-27 05:15] lkamal opened #26 "Maven central has v3.1.1, but source has 3.1.1-SNAPSHOT"
It seems there is a confusion in this plugins version number.

pom.xml has 3.1.1-SNAPSHOT version as below.

`<version>3.1.1-SNAPSHOT</version>`

Maven central has [3.1.1 release](https://mvnrepository.com/artifact/com.github.spotbugs/spotbugs-maven-plugin/3.1.1).

    <dependency>
        <groupId>com.github.spotbugs</groupId>
        <artifactId>spotbugs-maven-plugin</artifactId>
        <versio

[2018-01-27 06:35] #24 closed

[2018-01-27 10:30] lkamal commented on #26
I looked at the [releases](https://github.com/spotbugs/spotbugs-maven-plugin/releases) and [tags](https://github.com/spotbugs/spotbugs-maven-plugin/tags) of the plugin, but none has a release version 3.1.1.

How come maven central has a release numbered 3.1.1?

[2018-01-27 17:01] hazendaz commented on #26
@lkamal Thanks for reporting. This has been corrected.  The artifacts (tag and commits) didn't come off my machine properly.  I suspect related to being attached to 4 different remotes.  I will research that some more but now everything is there.

[2018-01-27 17:01] #26 closed

[2018-02-20 00:45] romani opened #30 "upgade from 3.0.X to 3.1.1 that demands maven upgrade to 3.5.2"
Is there a good reason to stick with most recent 3.5.2 maven core ?
https://github.com/spotbugs/spotbugs-maven-plugin/commit/765a70a12c081e5a5a76ae6112a0eb8d6bbff628

can it be some lowered to 3.2 version or even below 3.2 ?

Upgrade to new version is very complicated,
see details at https://github.com/checkstyle/checkstyle/issues/5525 , I would say in our case , it is impossible to upgrade.

[2018-02-20 03:52] hazendaz commented on #30
@romani based on that commit there is probably no real good reason to stick on the maven core 3.5.2.  I need to go back though and confirm why I did that to start with.  This issue has been noted now a couple of times.  I'm guessing this might have had something to do with jdk9 compatibility but need to go back over my tracks on that.  If it is as simple as backing that out and there are no other

[2018-02-20 04:12] hazendaz commented on #30
@romani It does not appear that I did that due to any specific need other than aligning all maven usage on 3.5.2.  Are you able to test against snapshots?  I'd like to get a confirmation this solves the backwards compatibility issues before I cut a release.

[2018-02-20 04:50] hazendaz commented on #21
@blasd I'm submitting a commit now that should provide backwards support.  I'm trying not to enforce 3.5.2.  I think generally that would not have been an issue had it not been for underlying injection changes which seem to conflict badly.  Would it be possible for you to give the latest snapshot a try once that lands?  It should be on there in next hour or so.

[2018-02-20 06:05] romani commented on #30
I have problems to reproduce a problem on my local, it hapens on only on remote CIs. But build is easy to update to use snapshot - just change a version and run "mvn verify"

[2018-02-24 19:37] hazendaz commented on #30
I've got a test working back to maven 3.1.1.  It's harder to go any further base so I'm going to make that the minimum allowed with spotbugs then I'll push a release either later tonight or sometime tomorrow.

[2018-02-25 03:09] hazendaz commented on #30
Version 3.1.2 released fixing this issue.

[2018-02-25 03:10] hazendaz commented on #21
Version 3.1.2 released fixing this issue.

[2018-02-25 03:10] #21 closed

[2018-02-25 13:33] romani commented on #30
hmm, It does not help, see logs at failed CIs: https://github.com/checkstyle/checkstyle/pull/5540

[2018-02-26 12:16] lpapazow commented on #30
The new release didn't solve the issue for me either.

 I started checking out older commits and I found that the problems start after [this commit](https://github.com/spotbugs/spotbugs-maven-plugin/commit/d538fb53c25518ab756f1d9edcfa955d569fea24) .
Changing the `mavenVersion` property in the pom from 3.5.2 to 3.5.0 in the latest commit worked for me though.

[2018-02-27 15:04] romani commented on #30
@hazendaz , does it make sense to reopen issue ?

[2018-02-28 01:41] hazendaz commented on #30
@romani
Can you give me a bit more insight into the error you had?  All I could see was one failure and that did not look applicible to this plugin but rather something with the install plugin.

@lpapazow What error did you get?

[2018-02-28 02:33] romani commented on #30
do you need full log ? or .... let me know details you need.

[2018-02-28 02:40] hazendaz commented on #30
Just details will help.  I couldn't see everything and the only one I could looked like the install plugin had issues.  Was the issue different from the one you originally experienced?  I have a few ideas on how I might deal with issue such as making maven provided scope instead but not sure that will work but something I'm going to try.  The idea being that maybe that might make it work on prior

[2018-02-28 02:44] romani commented on #30
I created new PR, to regenerate logs, I will copy them for you in gist for review.
I still can not reproduce problem on my local, so I have failures only on remotes.

[2018-02-28 02:47] hazendaz commented on #30
Same issue I have.  Thanks!

[2018-02-28 08:41] lpapazow commented on #30
I get the same error. I can upload the full error log in a gist if you think it could help.

[2018-02-28 21:05] romani commented on #30
diff for checkstyle project:
[code]

full build logs:
distelli - https://gist.github.com/romani/1b0f4954bc659179afe70f4afde4c33b
circle - https://gist.github.com/romani/ea5864b13a3cba2ff43e34b3abda76ba
teamcity - https://gist.github.com/romani/f56b79d6e394b7efe3110dac644005d8

[2018-03-05 02:06] hazendaz commented on #30
version 3.1.3 has been released, can you please give that a try and see if it solves the problem?

[2018-03-06 01:51] romani commented on #30
new PR is created  - https://github.com/checkstyle/checkstyle/pull/5579

[2018-03-06 06:45] romani commented on #30
it works for our CI, thanks a lot.

[2018-03-06 06:45] #30 closed

[2018-03-06 13:44] hazendaz commented on #30
Awesome!  Thanks for hanging in there on this one!

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Roman Ivanov <notifications@github.com>
Sent: Tuesday, March 6, 2018 1:45:27 AM
To: spotbugs/spotbugs-maven-plugin
Cc: Jeremy Landis; State change
Subject: Re: [spotbugs/spotbugs-maven-plugin] upgade from 3.0.X to 3.1.1 that demands maven upgrade to 3.5.2 (#30)

[2018-03-06 18:25] nimaj94 opened #34 "spotbugs or findsecbugs create directory in target which it shouldnt"
I am currently using spotbugs and i use it using maven, so i put these lines in my pom in reporting plugins

[code]

but there is a problem.
when i execute site:site it create some directory inside my target folder.
 the directory is
C_\Users\ [myUserName] \ .m2\repository\com\h3xstream\findsecbugs\findsecbugs-plugin\1.7.1
 and findsecbugs-plugin-1.7.1.jar is inside this directory.
like it should

[2018-03-09 10:04] svilenvul opened #35 "Too many opened file handles to spotbugs plugins"
We are running the spotbugs-maven-plugin programmatically in a multi-module Maven project. This is why it is difficult to describe the exact spotbugs maven plugin configuration, this is why I will attach part of the Maven debug logs, where this can be seen:

[spotbugs-config.txt](https://github.com/spotbugs/spotbugs-maven-plugin/files/1796287/spotbugs-config.txt)

While trying to set up a Jenkins

[2018-03-17 23:14] KengoTODA commented on #35
note from my investigation:
* `ICodeBase`,`IClassPath` is `AutoCloseable`.
* `IClassPath` is responsible to close all `ICodeBase` instances inside it
* `FindBugs2#clearCaches()` closes generated `IClassPath`
* It seems that this plugin doesn't invoke `FindBugs2#clearCaches()` for now

So I guess that we should invoke this `FindBugs2#clearCaches()` method, or create classloader to GC `FindBugs2.cla

[2018-03-18 06:02] KengoTODA commented on #35
https://github.com/spotbugs/spotbugs/issues/589 is similar with this issue, but this issue's target is mainly jar files in classpath to scan.

[2018-03-19 03:02] KengoTODA commented on #35
@svilenvul let me confirm: are your Maven uses `-T` option, to run modules in parallel?

[2018-03-19 08:36] KengoTODA commented on #35
WIP: https://github.com/spotbugs/spotbugs/compare/fix-resource-leaks

[2018-03-20 08:26] svilenvul commented on #35
No, currently it is not being used.

[2018-03-21 03:06] KengoTODA commented on #35
Almost all opened file isn't not spotbugs plugin, but libraries in aux classpath.

In current architecture, spotbugs keeps all jar files opened during analysis (because `IClassPath` is keep opened), so we should face problem like this. To fix this issue, I think we need to change internal architecture to handle libraries in aux & app classpaths as stream.

[2018-04-03 09:58] sco0ter opened #37 "Add more documentation"
I was reading through https://spotbugs.github.io/spotbugs-maven-plugin/check-mojo.html
and it lacks a lot of documentation.

Most or all properties have `(no description)`.

As a developer I want to know what all these properties do.
E.g. I tried `<relaxed>true</relaxed>` and noticed that there is more output, i.e. bug analysis is more strict (although it contradicts a relaxed behavior somewhat).

[2018-04-03 10:02] sco0ter opened #38 "Don't output to INFO, but to WARN or ERROR instead"
When running `mvn spotbugs:check` it outputs all bugs to INFO:

[code]

This hardly catches one's attention.
Maven 3.5 supports colorizing output and prints warnings in yellow and errors in red.

I suggest to print bugs as those (warn or errors), so that developers more easily sees them in Maven output. Especially useful if not failing the build (`<failOnError>false</failOnError>`)

[2018-04-08 03:44] KengoTODA opened #40 "site goal fails on spotbugs branch & oraclejdk8"
Example: https://travis-ci.org/spotbugs/spotbugs-maven-plugin/jobs/361014422
This problem is maybe related with https://github.com/jeremylong/DependencyCheck/issues/523

[2018-04-08 18:32] hazendaz commented on #40
I had to fix a few things recently elsewhere due to nve database moved.  I also think Jeremy long corrected on version 3.1.2.  We should be able to get back working completely today.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Kengo TODA <notifications@github.com>
Sent: Saturday, April 7, 2018 11:44:09 PM
To: spotbugs/spotbugs-maven-plugin
Cc: Subscribed

[2018-04-08 18:58] #40 closed

[2018-04-09 02:03] KengoTODA commented on #40
Site goal has been stabilized, but deploy phase failed to rsync. I'll propose another PR to fix.

[code]

[2018-04-09 02:06] KengoTODA opened #42 "Update vulnerable dependencies"
`./mvnw site` reports following warning:

[code]

[2018-04-09 02:15] hazendaz commented on #42
owasp produces a lot of false positives.  while a couple of those like really old maven might be valid, there is not much we can do about it given any upgrade basically blocks maven 3.1.1+ usage.  Others like groovy, lombok are wrong.  If you look at the physical report it has a column for confidence.  If it's low, it's almost always a false positive.  I know that project is working on trying to c

[2018-04-09 02:34] #42 closed

[2018-04-28 21:35] hheg opened #46 "Java 9 Illegal reflective access groovy 2.4.13"
`[INFO] --- spotbugs-maven-plugin:3.1.1:spotbugs (spotbugs) @ project ---
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.codehaus.groovy.reflection.CachedClass (file:/home/hheg/.m2/repository/org/codehaus/groovy/groovy/2.4.13/groovy-2.4.13.jar) to method java.lang.Object.finalize()
WARNING: Please consider reporting this to the maintainers of

[2018-04-29 03:09] hazendaz commented on #46
Closing issue as this is not a problem with our library.  Groovy is aware of the issue and it is not fixed in any of their versions includuing 2.5, 2.6, and 3.0 releases.  There is no need for us to track their issue.  We are otherwise good through jdk10.

[2018-04-29 03:09] #46 closed

[2018-05-02 05:20] rbjorklin opened #47 "java.lang.IllegalArgumentException with Java 10?"
We are getting a lot of `java.lang.IllegalArgumentException` when trying to run this plugin with Java 10. But the [changelog for Spotbugs](https://github.com/spotbugs/spotbugs/blob/3.1.3/CHANGELOG.md) gives me the impression it should be working. Are we missing `--add-modules java.xml.bind` or something of the likes somewhere?

EDIT: We're using maven 3.5.3 if it matters. //edit

    Couldn't get

[2018-05-02 08:42] rbjorklin commented on #47
My colleague have probably found the solution: https://github.com/spotbugs/spotbugs/issues/593#issuecomment-385904884

spotbugs-maven-plugin  3.1.3 depends on spotbugs 3.1.2.

[2018-05-02 12:57] hazendaz commented on #47
There is a patch to asm that is needed and latest spotbugs has it.  Release on this repo has not been pushed yet.  I'll get a release out tonight.

Thanks

Jeremy

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Robin <notifications@github.com>
Sent: Wednesday, May 2, 2018 4:47:38 AM
To: spotbugs/spotbugs-maven-plugin
Cc: Subscribed
Subject: Re: [spotbugs/spo

[2018-05-03 03:28] hazendaz commented on #47
Work around for now, just include spotbugs 3.1.3 in the plugin dependencies section in your pom.  I cannot otherwise release tonight as I have 2 integration tests failing on jdk 10 I need to work out details on.  When I do release, I'm going to re-align to spotbugs numbering to avoid confusion.  So release when I push it will become 3.1.3-1.  Thanks.

[2018-05-03 03:41] hazendaz commented on #38
@sco0ter I ran both warning and error.  I like error better for attention grabbing red.  I'll push a patch shortly.

[2018-05-03 03:44] #38 closed

[2018-05-03 03:45] hazendaz commented on #34
spotbugs creates this due to underlying groovy usage.  I'm unsure how to fix it but see the issue is duplicating files all over.

[2018-05-07 03:51] hazendaz commented on #47
Release 3.1.3.1 will be out shortly and has patch for this.  Please note jdk11 support is not possible on any maven plugin right now due to what they are doing under the hood.  I've verified that across multiple plugins so jdk11 support will need to wait.

[2018-05-07 03:51] #47 closed

[2018-05-10 15:54] hazendaz commented on #47
Plugin issue only.  Normal artifacts are fine.  It's a module issue.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Pascal Schumacher <notifications@github.com>
Sent: Thursday, May 10, 2018 9:21:38 AM
To: spotbugs/spotbugs-maven-plugin
Cc: Jeremy Landis; State change
Subject: Re: [spotbugs/spotbugs-maven-plugin] java.lang.IllegalArgumentException with Java

[2018-05-11 02:40] hazendaz commented on #47
To clarify, jdk11 issue is building of the plugin itself.  This was confirmed with other maven plugins as well.

[code]

[2018-05-11 10:31] PascalSchumacher commented on #47
You probably already know this, but just to clarify:

The error occurs because Groovy 2.4.15 contains a repackaged ASM 6.1, which supports the class file format up to version 53.0 (Java 9). ASM 6.1.1 supports the class file format up to version 54.0 (Java 10). No ASM version with support of 55.0 (Java 11) has been released yet.

[2018-05-13 21:45] hazendaz commented on #47
@PascalSchumacher Thanks for heads up on that.  I didn't realize groovy had that embedded like that.  That also gives me something to pinpoint on another maven plugin which doesn't use groovy but probably has ASM in there somewhere.  After you pointed that out I looked around some and see that is a problem for a lot of projects.  Thanks.

[2018-05-13 21:45] hazendaz opened #54 "Groovy currently is on embedded 6.1 version of ASM causing problems building with jdk11."

[2018-05-19 06:27] mithuns opened #56 "Support for incremental analysis"
This is more of a question than reporting a issue, does this support doing incremental analysis by adding
`cache` property to plugin configuration ?
Or something on the similar lines, the general idea is , if only 5 lines of code were changes since last commit, spotbugs does not need to analyze the entire repository code.

[2018-05-25 11:11] skitt opened #57 "Missing 3.1.3.1 tag"
Hi,

Could you push the 3.1.3.1 tag?

Thanks!

[2018-05-26 23:45] hazendaz commented on #57
Thanks for letting me know.  This is now done!

[2018-05-26 23:45] #57 closed

[2018-05-31 13:42] SimonScholz opened #60 "Generate HTML Report with Findbugs"
I am pretty sure that with findbugs it was possible to generate html reports during a maven build.
Is there a way to generate a more human readable output during the build?

[2018-06-01 08:46] vogella commented on #60
+1 for the ability to generate HTML reports out of the box.

[2018-06-12 07:10] hoerup opened #62 "Update to spotbugs 3.1.4 and release spotbugs-maven-plugin v3.1.4"
spotbugs is released in v3.1.4 so it would be nice to have the corresponding spotbugs-maven-plugin version.

[2018-06-12 17:08] exabrial opened #63 "Support the Maven Toolchains Plugin"
Spotbugs has a dependency on JDK 1.8. It's also not good to use JDK 1.8 as your primary JDK as it's showing it's age.

Fortunately, Maven has a plugin called the toolchains plugin which allows a different JDK to be used to run a plugin than the JDK that maven is running in. The user could be running maven in JDK 10, but then SpotBugs could be ran using a JDK 1.8 installation.

https://cwiki.apache

[2018-06-12 19:37] PascalSchumacher commented on #62
Spotbugs 3.1.4 works on Java 11. If I override the Spotbugs version used by spotbugs-maven-plugin it works on Java 11.

Therefore a 3.1.4 release would be great.

[2018-06-12 21:30] hazendaz commented on #63
Spotbugs works on 9, 10, and 11.  I only use 10 now for regular builds.  Toolchains is overratted in my opinion and rarely if ever actually needed.  I'm ok with the addition though and see the PR got the commits cleaned up after the first push.  If this is ready and not a WIP as initially noted, can you rebase leaving the version alone and I'll include it in 3.1.4 release?

[2018-06-12 22:43] hazendaz commented on #62
This is pending upstream fixes.  Spotbugs removed a method that we need due to a downstream test with findsecbugs.  It's been added back but waiting to see if that will be released.

[2018-06-13 01:57] KengoTODA commented on #62
Please wait 3.1.5, because 3.1.4 has compatibility problem.
https://github.com/spotbugs/spotbugs/issues/661

[2018-06-13 01:57] #62 closed

[2018-06-13 16:14] exabrial commented on #63
@hazendaz Thanks a bunch! I cleaned up the PR and rebased, should be ready for your review

[2018-06-14 20:35] JasonWThompson opened #65 "Embed bug pattern description into report"
When a report is generated, it will show a summary of all of the found spotbugs issues. Each spotbugs issue provides a link to the spotbugs pattern description site. This works fine if the pattern comes from the core set of spotbugs patterns. But when the bug comes from another plugin, such as fb-contrib, then the link is fairly useless.

I propose embedding the relevant descriptions to the patter

[2018-06-15 10:06] kennardconsulting commented on #60
+1

This is actually pretty important from a Project Management perspective. We have departments that require us to submit a written report of the analysis.

[2018-06-15 16:44] hazendaz commented on #60
It already does this.  Run mvn site.   Am I missing something here?

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Richard Kennard <notifications@github.com>
Sent: Friday, June 15, 2018 6:06:05 AM
To: spotbugs/spotbugs-maven-plugin
Cc: Subscribed
Subject: Re: [spotbugs/spotbugs-maven-plugin] Generate HTML Report with Findbugs (#60)

+1

This is actually pre

[2018-06-17 02:48] hazendaz commented on #54
This is fixed on master on groovy now with ASM 6.2 and will be in 3.0.0-alpha-3

[2018-06-17 04:59] hazendaz commented on #62
@hoerup @PascalSchumacher Version 3.1.5 has been released.

[2018-06-17 12:36] PascalSchumacher commented on #62
Thank you very much!

[2018-06-28 06:09] KengoTODA opened #68 "lifecycle-mapping-metadata.xml should contain goal of spotbugs-maven-plugin"
At [here](https://github.com/spotbugs/spotbugs-maven-plugin/blob/spotbugs-maven-plugin-3.1.5/src/main/resources/META-INF/m2e/lifecycle-mapping-metadata.xml#L6
) we have `<goal>compile</goal>`. The `compile` is not goal of our plugin but phase in Maven lifecycle. It should be `<goal>check</goal>` to run SpotBugs plugin at the timing to build.

refs https://www.eclipse.org/m2e/documentation/m2e-maki

[2018-06-28 06:19] KengoTODA commented on #68
I'm not sure this fix is enough to link maven-spotbugs-plugin with m2e. Maybe we need some additional bridge to report detected issues in editor?

[2018-06-29 23:50] hazendaz commented on #68
I think that is likely enough.  I've had luck with other plugins by defining that myself in super pom in other cases.  At the very least, can you raise a PR to fix the issue?

[2018-06-30 22:51] KengoTODA commented on #68
YES I will.

[2018-07-30 14:50] LoloDigi opened #73 "XML file encoding is missing in XML output file"
With the last spotbugs-maven-plugin, in 3.1.6 version, I'm not able to generate the maven-site report.
It was OK with findbugs, but I can't make it work with spotbugs.
My source and report encodings are CP1252 (I have many other reports like checkstyle, dependencies, javadoc, ...).

The generated spotbugsXml.xml does not contains a line like :
&lt;?xml version="1.0" encoding="CP1252"?&gt;

So the

[2018-08-02 13:18] KengoTODA commented on #73
Have you tried https://maven.apache.org/plugins/maven-site-plugin/site-mojo.html#inputEncoding ?

It's also nice to have minimum project that can reproduce your problem.

[2018-08-02 15:39] LoloDigi commented on #73
Yes I did, with many values (ISO-8859-1, CP1252, UTF-8, ...) and combinations with many "outputEncoding" also.
Perhaps most of project are working in UTF-8...

[2018-08-07 02:26] MirPing commented on #60
how can i generate html output with maven findbugs plugin?

[2018-08-07 02:41] kennardconsulting commented on #60
@hazendaz yes you are correct. `mvn site` does it

[2018-08-10 12:59] hazendaz commented on #73
@LoloDigi Can you provide a sample project that causes this issue?

It is true most projects are UTF-8 as that is the universal standard.  You might want to determine a specific reason why your code base wants to use a legacy character encoding.  Generally I've seen that used just due to improper setup when UTF-8 was fine but certainly we should work with any and a sample will help us better isola

[2018-08-14 16:30] mithuns commented on #56
Is it possible ? Missing ? A potential enhancement ? may be

[2018-08-15 06:18] iloveeclipse commented on #56
In Eclipse plugin we do a trick to reduce the analysis to only changed classes (we run on "save" editor). This is faster, but this does not find all possible issues and also reports few false positives like "method xyz not used" (because it only analyses a subset of application classes).

Nevertheless you could try this approach in your case.

[2018-08-21 18:01] jflecomte commented on #73
I have the same issue. My OS (Windows 10) is configured in french. I was able to workaround the issue by configuring the language like this:

[code]
To reproduce the error you can set "fr" instead of "en" and run "mvn install site" on a project that contains issues detected by SpotBug.

[2018-08-22 00:04] hazendaz commented on #73
@jflecomte Thanks, I'll take a deeper look as soon as I can.

[2018-08-27 13:13] LoloDigi commented on #73
@jflecomte The workaround is working great.
Thank you for your support !

[2018-08-30 20:13] cziesman commented on #60
We would like to generate the report as part of the Maven verify phase, so that developers have access to it when a Jenkins build fails due to too many errors. How do we achieve this? We do not use mvn site in our CI/CD pipeline because it takes too long to complete.

[2018-08-30 23:38] romani opened #74 "upgrade to 3.1.6 from 3.1.5 result in stacktrace in maven build output"
all details are at https://github.com/checkstyle/checkstyle/issues/6098

I not sure if spotbugs is working well, but build is not failing.

FYI: I am not sure that I make case like required at https://github.com/spotbugs/spotbugs/blob/release-3.1/.github/CONTRIBUTING.md , but issue is not obvious I could try.

[2018-08-30 23:44] romani opened #75 "mvn clean spotbugs:check give no errors as it runs on classes, so add a warning to users that miss compile"
steps:
[code]

[2018-09-05 02:32] hazendaz commented on #73
I'm not very good with groovy :(  I took a stab at fixing the issue. I can get the xml to generate with the xml declaration but then it fails later when running a slurper against it as the declaration tag is not allowed.  As the spotbugsXml.xml is just a smaller cut of spotbugsTemp.xml, I suspect that portion of the code is actually correct.  It's possible later on it must be interpretted differen

[2018-09-05 02:40] hazendaz commented on #60
@cziesman How do you plan to make the site html pages available during that run?  Generally you just have the jenkins console output available to the users.  There as with many other plugins, it will show you where the issues are when using 'spotbugs:check'.

[2018-09-05 02:46] hazendaz commented on #75
@romani I'd like to see the plugin run with overridden dependency 3.1.5 to vet the issue is the plugin or with spotbugs itself.  Given the stack trace, it would seem it is with spotbugs rather than the plugin.

[2018-09-05 13:08] romani commented on #75
to confirm, do you want to see log of build when it was 3.1.5 ?
I tried to open issue on library itself but requires precise test case to reproduce ... not sure how to make it.

version definition : https://github.com/checkstyle/checkstyle/blob/master/pom.xml#L204

here is log on 3.1.5 - https://travis-ci.org/checkstyle/checkstyle/jobs/412242219#L758

[2018-09-05 13:41] hazendaz commented on #75
Still use 3.1.6 plugin, add dependencies section for spotbugs 3.1.5.  That way it downgrades spotbugs but otherwise runs plugin as is.  I believe the issue is with spotbugs not this plugin and that will prove the theory and help get the issue over to code spotbugs team.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Roman Ivanov <notifications@github.com>
S

[2018-09-09 12:33] romani commented on #74
issue is closed, as it was proved to be library issue.

[2018-09-09 12:33] #74 closed

[2018-09-17 08:58] vimal4david opened #76 "Update to Spotbugs version 3.1.7"
Spotbugs version 3.1.7 was released recently. The plugin needs to be updated.

[2018-09-17 09:06] vimal4david commented on #76
Merge Request is [here](https://github.com/spotbugs/spotbugs-maven-plugin/pull/77)

[2018-09-17 09:09] vimal4david opened #78 "Update Continuous Integration to test against Java 11"

[2018-09-17 12:12] hazendaz commented on #78
Are you referring to travis city? Jdk 11 won't work until groovy updates asm.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: vimal4david <notifications@github.com>
Sent: Monday, September 17, 2018 5:09:38 AM
To: spotbugs/spotbugs-maven-plugin
Cc: Subscribed
Subject: [spotbugs/spotbugs-maven-plugin] Update Continuous Integration to test against Java 11 (#78)

[2018-09-17 13:37] vimal4david commented on #78
Build details: https://travis-ci.org/spotbugs/spotbugs-maven-plugin/jobs/429572630
As mentioned by @hazendaz it's failing with JDK 11

[ERROR] Failed to execute goal org.codehaus.gmavenplus:gmavenplus-plugin:1.6.1:generateStubs (compileGroovy) on project spotbugs-maven-plugin: Error occurred while calling a method on a Groovy class from classpath. InvocationTargetException: startup failed:
[ERROR]

[2018-09-17 13:47] vimal4david commented on #78
Relates to this Groovy [issue](https://issues.apache.org/jira/browse/GROOVY-8727)

[2018-09-18 02:40] hazendaz commented on #76
Resolved by #77

[2018-09-18 02:40] #76 closed

[2018-09-18 02:42] hazendaz commented on #68
Fixed by #69.  I don't think there is any need for anything more with m2e.

[2018-09-18 02:48] hazendaz commented on #68
Sorry, reopening.  I thought this had been merged.

[2018-09-19 17:52] guw opened #83 "Release 3.1.7"
Spotbugs 3.1.7 is out with fix for Java 11. A new release of the Maven plug-in providing
https://github.com/spotbugs/spotbugs/issues/711 would be good.

[2018-09-19 22:05] hazendaz commented on #83
This is being worked.  I'd prefer we can also build with jdk 11 because the underlying plugin is built on groovy and it's not yet fully working on jdk11.  See my fork travis ci builds.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Gunnar Wagenknecht <notifications@github.com>
Sent: Wednesday, September 19, 2018 1:53:01 PM
To: spotbugs/spotbugs-maven-plugin

[2018-09-23 04:09] hazendaz commented on #83
Requires groovy 2.5.3 and gmavenplus 1.6.2.  Currently both are pending release.

[2018-09-23 04:10] hazendaz commented on #78
Requires groovy 2.5.3 and gmavenplus 1.6.2.  Currently both are pending release.

[2018-09-23 04:10] hazendaz commented on #54
Requires groovy 2.5.3 and gmavenplus 1.6.2.  Currently both are pending release.

[2018-10-04 05:26] Ranjodh-Singh opened #84 "added property maxAllowedViolations."
hi I have raised a pull request to findbug maven plugin to add maxAllowedViolations configuration property - [pull-request-link-here](https://github.com/gleclaire/findbugs-maven-plugin/pull/95) . Since findbug is no longer maintained, Can I raise the same change request to spotbug since it's maintained.
Property maintained is similar to checkstype property to ignore the number of violations. Use C

[2018-10-04 12:03] hazendaz commented on #84
Yes.  Feel free to raise it here.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Ranjodh Singh <notifications@github.com>
Sent: Thursday, October 4, 2018 1:26:48 AM
To: spotbugs/spotbugs-maven-plugin
Cc: Subscribed
Subject: [spotbugs/spotbugs-maven-plugin] added property maxAllowedViolations. (#84)

hi I have raised a pull request to findbug maven plugin to

[2018-10-05 05:13] Ranjodh-Singh commented on #84
awesome and thanks @hazendaz will raise it here.

[2018-10-15 15:07] vimal4david commented on #78
The build is failing because Travis CI is using Maven version 3.5.3. I have raised a [PR](https://github.com/travis-ci/travis-cookbooks/pull/997) in Travis CI to update there Maven version to 3.5.4

[2018-10-15 18:16] hazendaz commented on #78
We use the maven wrapper so travis ci doesnt need bumped, although the doesnt hurt.  For this project look in the .mvn folder for the wrapper properties file and bump to 3.5.4 there.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Vimal David <notifications@github.com>
Sent: Monday, October 15, 2018 11:07:25 AM
To: spotbugs/spotbugs-maven-plugin
Cc: Jeremy L

[2018-10-15 20:04] hazendaz commented on #84
Fixed via #85

[2018-10-15 20:04] #84 closed

[2018-10-15 20:59] hazendaz opened #89 "Groovydocs fail on site since groovy 2.5.0"
Commented these out on 8144aca

Need to review what the issue is.  Our site has been broken for a while.  This issue only occurs after groovy 2.5.0+ upgrade.  I confirmed dropping back to 2.4.15 was working.

[2018-10-15 21:19] hazendaz opened #90 "MFINDBUGS-145/pom.xml fails on jdk 11"
This is for some really old issue and probably unnecessary.  Putting this here for tracking purposes until I determine what we need to do with that test.

[2018-10-15 21:46] hazendaz commented on #78
Closed via #88

I have opened a new issue though against jdk11 on one unit test #90

[2018-10-15 21:46] #78 closed

[2018-10-15 21:47] hazendaz commented on #54
closed via #88

I have opened a new issue against one jdk 11 test case #90

[2018-10-15 21:47] #54 closed

[2018-10-15 21:58] hazendaz commented on #83
Releasing to central now.  This will be available in about 10 minutes and will show up in the index in next 1 to 2 hours.

[2018-10-15 21:58] #83 closed

[2018-10-16 07:58] jstourac opened #92 "RCN_REDUNDANT_NULLCHECK_WOULD_HAVE_BEEN_A_NPE with JDK-11"
I get `RCN_REDUNDANT_NULLCHECK_WOULD_HAVE_BEEN_A_NPE` when I compile my project with JDK-11 although when I compile same code with JDK-8, no error is reported by spotbugs.

I was able to create a code example that causes this:
[code]

Generated spotbugs error:
[code]

JDKs used:
[code]
and
[code]

[2018-10-16 08:03] iloveeclipse commented on #92
Please check reported issues here in tracker, it is already known and a bug in JDK 11 generated "try with resources" code.

[2018-10-20 10:58] uweplonus opened #93 "Report generation only works after compiling the sources"
Today I faced a problem generating my site.
I'm on a project where I do not compile the source files but only execute `mvn site` to generate the site (A Spotbugs Example Project).
Therefore I only run `mvn site` but then the report is not generated.
I had to run at least `mvn compile site` to get the report generated.
This should at least be documented for the plugin that the compiled classes are

[2018-10-20 16:47] hazendaz commented on #93
What version are you using?

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: uweplonus <notifications@github.com>
Sent: Saturday, October 20, 2018 6:58:39 AM
To: spotbugs/spotbugs-maven-plugin
Cc: Subscribed
Subject: [spotbugs/spotbugs-maven-plugin] Report generation only works after compiling the sources (#93)

Today I faced a problem generating my site.
I'm

[2018-10-23 05:45] iloveeclipse commented on #93
Spotbugs needs compiled code to run, this is not a bug, it is the way how Spotbugs was designed. So no compile => no results.

[2018-10-23 06:15] uweplonus commented on #93
As I wrote in the bug report at least a documentation is useful.

[2018-10-23 06:19] iloveeclipse commented on #93
https://spotbugs.github.io/ says "it can analyze programs compiled for any version of Java, from 1.0 to 1.9."

But if you like to improve the manual, please check https://spotbugs.readthedocs.io/en/latest/introduction.html and try to contribute a fix - click the "Edit on GitHub" link in the upper right corner.

[2018-10-24 11:09] kwin opened #94 "Links to spotbugs website broken"
In https://spotbugs.github.io/spotbugs-maven-plugin/ there is still links to the no longer existing website at SourceForge. Those should be fixed to point to the new location at github.
Source: https://github.com/spotbugs/spotbugs-maven-plugin/blob/spotbugs/src/site/apt/index.apt.vm

[2018-11-04 04:12] hazendaz commented on #93
Closing issue here as not an issue with the maven plugin nor design of spotbugs but rather documentation clarity if user so wishes to update that.

[2018-11-04 04:12] #93 closed

[2018-11-04 04:13] hazendaz commented on #94
@kwin Can you raise a PR to fix the broken link issues?

[2018-11-04 04:18] hazendaz commented on #90
Closing as further updates, most likely surefire, have solved the issue.  We are no longer failing on jdk11 at all.

[2018-11-04 04:18] #90 closed

[2018-12-04 17:59] mkozioro opened #96 "Make outputSpotbugsFile configurable"
Hi,

Would it be possible to make outputSpotbugsFileName configurable? I've got couple of old, annoying and unmaintained tool at my company, which is required by our management to collect report from findbugs. It has hardcoded findbugs output file name as findbugsXml.xml. We would like to switch to spotbugs, but I'm not even going to force my company to force 3rd party company to fix their tooling

[2018-12-05 01:23] zman0900 opened #97 "Tag / source missing for 3.1.9"
The maven site for this plugin and maven central say the latest version is 3.1.9, but there are no changes here after the 3.1.8 tag.  This is still the correct repo according to: https://spotbugs.github.io/spotbugs-maven-plugin/scm.html  Where can I find source code for 3.1.9?

[2018-12-05 01:53] zman0900 opened #98 "Spotbugs 3.1.9 - No SLF4J providers were found"
Running `spotbugs:check` with spotbugs 3.1.9 causes an SLF4J error to be printed:

    [INFO] --- spotbugs-maven-plugin:3.1.9:spotbugs (spotbugs) @ <project> ---
    [INFO] Fork Value is true
         [java] SLF4J: No SLF4J providers were found.
         [java] SLF4J: Defaulting to no-operation (NOP) logger implementation
         [java] SLF4J: See http://www.slf4j.org/codes.html#noProviders for f

[2018-12-09 01:43] hazendaz commented on #97
repo has been tagged with 3.1.9, closing.

[2018-12-09 01:43] #97 closed

[2018-12-20 19:14] hazendaz commented on #98
@zman0900 This was introduced as a transient dependency of spotbugs at 3.1.9.  I'm adding a patch to slf4j-simple for 3.1.10.

[2018-12-20 19:43] hazendaz commented on #98
Version 3.1.10 has been released and will be in central within next 2 hours.

[2018-12-20 19:43] #98 closed

[2018-12-29 02:03] hazendaz commented on #96
@mkozioro Sorry for delay...if you raise a pull request for this freature, I'll merge it in.  The more people using spotbugs the better as findbugs on all fronts has been abandoned at this point and you are otherwise missing out on all the greatness of jdk8+ support ;)

[2018-12-30 06:50] electrum commented on #46
We should be able to fix this when when using `<fork>true</fork>` by adding the appropriate `--add-opens` arguments for the forked JVM. I did something similar for a Maven plugin that uses Jython: https://github.com/airlift/sphinx-maven-plugin/commit/c870da4b6436fe75d0e71dbd3a9ff079793d3927

[2018-12-30 06:53] hazendaz commented on #46
Groovy long since fixed issues.  We are no longer having any problems I'm aware of.  We run fine on all jdk version now.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: David Phillips <notifications@github.com>
Sent: Sunday, December 30, 2018 1:50:37 AM
To: spotbugs/spotbugs-maven-plugin
Cc: Jeremy Landis; State change
Subject: Re: [spotbugs/spotbugs-maven-p

[2018-12-30 07:12] electrum commented on #46
I still see this error with version `3.1.10` of the plugin. It actually happens during configuration, even if the plugin is disabled with `<skip>true</skip>`:
[code]

[2018-12-30 07:16] electrum commented on #46
Ah, I see that the plugin itself is written in Groovy (rather than embedding it), which explains why it happens even when disabled, so the suggested workaround isn't an option.

[2018-12-30 07:17] hazendaz commented on #46
Yes but that is a warning originating in third party.  I have zero plans to hide the warning.  That does nothing to fix it.  As it stated, report to owner of the library in question.  This plugin isnt the issue.  Groovy is.  They are aware anyways and it will eventually be fixed.  Until then there is no issue here.

Just caught your last message.  You got it! Thanks!

Get Outlook for Android<https

[2019-01-24 02:42] beamerblvd opened #101 "org.dom4j.DocumentException: Failing reading the exclude file"
I'm using SpotBugs 3.1.8 via the `spotbugs-maven-plugin` 3.1.8. I'm getting the following error. Unfortunately, this output is with maximum debug/traces turned on. There is no other information. Nothing at all indicates what's wrong with my file.

[code]

I've confirmed that it's not a matter of it not finding the file, because I changed the configured name of the file and I got a different error

[2019-01-26 01:19] hazendaz commented on #94
#102 Fixes this issue.

[2019-01-26 01:19] #94 closed

[2019-01-26 01:20] hazendaz commented on #89
#102 fixes this issue.

[2019-01-26 01:20] #89 closed

[2019-01-27 08:36] aaime opened #103 "Illegal reflective access groovy 2.5.6"
Running spotbugs:gui but also running spotbugs:check results in the following, on a JDK 11 build:

[code]

Likely related to https://issues.apache.org/jira/browse/GROOVY-8339

[2019-01-28 01:51] hazendaz commented on #103
@aaime That issue is with groovy and as indicated by its output the issue needs raised with the owner which is groovy project but the version is not their latest.  Aside from that concern, we are using groovy 2.5.5.  Are you defining groovy separately as 2.5.4?

[2019-01-28 01:54] hazendaz commented on #101
@KengoTODA In the link you provided, I assume the fact that all the auto generated maven help there is blank.  Is that the case?  If so, I tried a few things to make the code show up but no luck.  I'm not sure why it's not pulling javadocs other than possibly that this is groovy.  I did make some adjustments though so the groovy docs work again and those are accessible on the site.  However, that

[2019-01-28 04:04] KengoTODA commented on #101
I'm also not sure why plugin doesn't refer [existing javadoc](https://github.com/spotbugs/spotbugs-maven-plugin/blob/8188eaac3deb2080444480627c543a6e28662e82/src/main/groovy/org/codehaus/mojo/spotbugs/SpotBugsMojo.groovy#L281-L302) ;(

[2019-01-28 08:14] aaime commented on #103
I'm using the latest maven plugin, which depends on 2.5.4, no extra dep overrides:
https://mvnrepository.com/artifact/com.github.spotbugs/spotbugs-maven-plugin/3.1.10

I see spotbugs is now at 3.1.11, but I don't see a corresponding maven plugin version on the repos:
https://mvnrepository.com/artifact/com.github.spotbugs/spotbugs-maven-plugin

About the issue being in groovy, yep, I understand, yo

[2019-01-28 08:16] aaime commented on #103
Ah, btw, I see this PR and associated ticket:
https://github.com/apache/groovy/pull/811
https://issues.apache.org/jira/browse/GROOVY-8843

So I'm guessing that an upgrade to Groovy 3 will be required, once it's released.

[2019-01-28 08:59] aaime opened #104 "Lockup in maven concurrent build, with fork=false"
I've just added spotbugs to a QA build that already had PMD and errorprone, the build times on Travis went through the roof, from 17m to 44m (parallel build, -T1C), which is dangerously close to the Travis max build time limit.

So I've tried to disable forking spotbugs hoping to get a speedup, but the build locked up after a few modules.

Here is a jstack:
[spotbugs-jstack.txt](https://github.com

[2019-01-28 11:49] aaime commented on #104
Ah, tried a trick we used to speed up surefire tests, that is, setting the following JVM options:

[code]

and build times went down from 44m to 29m... quite a bit better :-D
Do you by any chance know of other args that we can use to speed up the spotbugs checks?

[2019-01-29 21:02] bentatham commented on #46
For those curious to follow and/or vote for the root issue:
https://issues.apache.org/jira/browse/GROOVY-8339

[2019-02-02 21:42] hazendaz commented on #104
I don't know of any args to make this faster.  I did user the settings you noted there on our physical build which sped up travis for us by about 8 minutes overall.  However we are running quite a few integration tests.  Our build takes 28 minutes on travis running in two separate jdks.  You might want to take a look at what we are doing there to see if that helps shed any insite for you.

[2019-02-03 21:09] hazendaz commented on #37
@sco0ter We have added groovydocs to the documentation now which does show what the values are.  It is unclear to the team right now why running normal build does not pick up those values and in some cases defines items that are not what we have defined.  We suspect since the plugin is entirely written in groovy that groovy with maven behaves differently.  At the moment no ETA on a better fix.

[2019-02-03 21:13] hazendaz commented on #103
@aaime While we did run a release once before using groovy 3.x alpha series, it is alpha and we were doing so to get around some other issues we encountered.  While I could push back to 3.x alpha as it seems to cause no harm, i'm not sure at the moment that we need to since this is just noise that doesn't cause any particular issue right now.  I am going to release 3.1.11 version of the plugin tod

[2019-03-10 06:39] hazendaz commented on #103
Updated issue name as the problem persists with 2.5.6 as well.

[2019-03-11 16:54] Singleton06 opened #112 "ReadTheDocs links are broken to maven site"
https://spotbugs.readthedocs.io/en/stable/maven.html links to all of the goals are broken.  Additionally, going to the site, clicking on goals on the left side is broken: https://spotbugs.github.io/spotbugs-maven-plugin/

[2019-03-18 11:06] monepic opened #113 "Analysis Properties"
Hello,

Is there some way to set the [Analysis Properties](https://spotbugs.readthedocs.io/en/stable/analysisprops.html) when using the maven plugin?

Thank you

Ed

[2019-03-26 02:11] hazendaz commented on #113
I'm not familiar with that aspect.  I sort of took this on more for my maven knowledge than for that of findbugs/spotbugs.  The code isn't super easy to read being all groovy but you might want to poke around the code and see.  If you don't see this anywhere, I'd be happy to review a pull request for support of the feature.

[2019-03-28 13:18] crizzis commented on #75
Isn't this working as intended? SpotBugs operates on bytecode, and so it requires compiled classes. Doesn't `mvn clean compile spotbugs:check` fix the problem for you?

[2019-03-28 13:56] crizzis opened #114 "Introduce verify goal (similar to failsafe plugin)"
Right now we can use either the `spotbugs` goal which performs the analysis, or the `check` goal which performs the analysis **and** fails the build if violations are detected.

It would be nice to have another goal (similar to Maven Failsafe Plugin's `verify` goal) which fails the build if the `spotbugsXml.xml` report contains violations, *without invoking the `spotbugs` goal*. This way, it would

[2019-03-30 12:29] romani commented on #75
yes, adding `compile` works.
But should be there some warning or error ? that no bite code is found, validation is skipped.

[2019-03-30 14:55] crizzis commented on #75
I agree that a warning would not be unreasonable in such a scenario.

________________________________
From: Roman Ivanov <notifications@github.com>
Sent: Saturday, March 30, 2019 1:29 PM
To: spotbugs/spotbugs-maven-plugin
Cc: crizzis; Comment
Subject: Re: [spotbugs/spotbugs-maven-plugin] mvn clean spotbugs:check give no errors (#75)

yes, adding compile works.
But should be there some warning or

[2019-03-30 20:56] romani commented on #75
Maybe extra property to fail if no binaries are found, in case config of compiler and spotbugs is unsynched.

[2019-04-03 08:39] SimonScholz opened #115 "[Docs] The docs about the Spotbugs Maven plug-in contains broken links"
Hi,

The links to the maven goals in https://github.com/spotbugs/spotbugs/blob/master/docs/maven.rst result in a 404.

[2019-04-10 09:12] jansohn commented on #63
@hazendaz I don't think toolchains is overrated but maybe I'm missing something. We have the following setup:

- Maven 3.5.0
- JAVA_HOME points to 11.0.2
- Project needs to be JDK8 compliant (meaning it will run with JDK/JRE 8)

The project uses classes like `javax.xml.bind.annotation.XmlRootElement` which were removed from JDK11 onward. Now if we don't use the toolchain-plugin we get compilation

[2019-04-10 10:58] hazendaz commented on #63
Add a profile to run with jdk 9 and above with webservices-api latest from jakarta and all will be fine.  As for groovy issue those warnings will persist but can be ignored.

Toolchains is rarely necessary.  We target lower run times all the time with no issues.  Use animal sniffer as well to keep newer code from leaking into tour source.

Get Outlook for Android<https://aka.ms/ghei36>

__________

[2019-04-10 11:34] jansohn commented on #63
No, it's not as simple as that. The project isn't ready for JDK 11 (e.g. eclipselink https://github.com/eclipse-ee4j/eclipselink/issues/269) so our unit tests will fail if they are run with JDK 11. Also I want to run my unit tests with the same JDK version which I use in production.

The only ways to achieve to build and test our application are:
- toolchain definition
- `.mavenrc` file setting `J

[2019-04-10 12:04] hazendaz commented on #63
Thanks for the link.  I was unaware anything in EE was still lacking jdk 11 support fully.  I'd been using moxy with jdk 11 without issues but see things are more complicated still.

Is it possibly you could code a fix here for toolchain support?

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: jansohn <notifications@github.com>
Sent: Wednesday, April 10, 201

[2019-04-10 12:45] jansohn commented on #63
There has already been an effort to achieve this:
https://github.com/spotbugs/spotbugs-maven-plugin/pull/64

[2019-04-18 10:43] binoternary opened #116 "spotbugs.failOnError property ignored"
In `SpotBugsMojo.groovy` the value of `failOnError` property is ignored:
`ant.java(classname: "edu.umd.cs.findbugs.FindBugs2", ..., failonerror: "true", ...)`

So executing the plugin like this `mvn compile spotbugs:check -Dspotbugs.failOnError=false` won't work as expected.

[2019-04-18 12:49] binoternary commented on #116
Seems I was doing something wrong. Can't reproduce the issue I had.

[2019-04-18 12:49] #116 closed

[2019-05-16 19:22] andrfgs opened #117 "SSH Connection Refused"
When running maven goal `deploy`, the plugin fails with error

The host is not the problem as I am able to access it through the terminal. This only happens with the plugin. The password has been set in my settings.xml file.

This is my pom file:
[code]

And my settings.xml file:
[code]

[2019-05-16 19:39] hazendaz commented on #117
Believe you are on the wrong repo.  Issue you have is with maven deploy plugin.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: André Santos <notifications@github.com>
Sent: Thursday, May 16, 2019 3:22:42 PM
To: spotbugs/spotbugs-maven-plugin
Cc: Subscribed
Subject: [spotbugs/spotbugs-maven-plugin] SSH Connection Refused (#117)

When running maven goal deplo

[2019-05-16 19:40] andrfgs commented on #117
I'm terribly sorry then. I thought this was the general maven plugins issue tracker.

[2019-05-16 19:40] #117 closed

[2019-06-08 22:29] hazendaz commented on #115
@KengoTODA I figured out the issue.  The 'goal' was not being run that generates that piece.  I'll have a patch coming in shortly after I get upstream base parent updated due to another issue that popped up recently.

[2019-06-08 22:40] hazendaz commented on #115
@KengoTODA Original issue was introduced long time ago prior to us taking this over.  See [here](https://github.com/spotbugs/spotbugs-maven-plugin/commit/0d34d0070d0d57720823039ca09f4c1bfb96ca3e#diff-600376dffeb79835ede4a0b285078036).  Effectively it added an execution that turned off part of the site generation needs.  I've ran tests with the full process and think that was purely a mistake.

[2019-06-09 00:49] hazendaz commented on #115
Fixed.

[2019-06-09 00:49] #115 closed

[2019-06-09 00:49] hazendaz commented on #112
fixed.

[2019-06-09 00:49] #112 closed

[2019-06-09 14:49] KengoTODA commented on #115
Great! Thanks!

[2019-06-13 18:36] ctubbsii commented on #103
This has been annoying me, now that my projects are building using Java 11 more and more. Hopefully, 3.0.0 will release soon, unless spotbugs is comfortable using the beta-1, which is now available.

[2019-06-15 00:42] hazendaz commented on #103
@ctubbsii I don't have any problems switching back to 3.  We used it in a couple of releases on earlier cuts.  We only fell back as it didn't benefit any to be there.  The stack works fine on it though so not a big deal to switch back if it indeed fixes the issues as indicated on GROOVY-8339.

[2019-06-17 15:11] mttjj opened #120 "Maven Site Goals Link 404"
The [Goals](https://spotbugs.github.io/spotbugs-maven-plugin/plugin-info.html) link on the [Maven Site](https://spotbugs.github.io/spotbugs-maven-plugin/) leads to a 404. I couldn't find the information I was looking for by browsing through the git repo either. Makes it very hard to read up on the plugin! :)

[2019-06-17 17:45] hazendaz commented on #120
I'll look into the issue.  It had been fixed on 3.1.12 release, not sure why snap shot is slowing again.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Matthew Janssen <notifications@github.com>
Sent: Monday, June 17, 2019 11:11:36 AM
To: spotbugs/spotbugs-maven-plugin
Cc: Subscribed
Subject: [spotbugs/spotbugs-maven-plugin] Maven Site Goals Link 404 (#120)

[2019-06-20 01:19] hazendaz commented on #120
issue is due to a bot behind the scenes that reverted the automatic changes already in place.  I'll work to get that removed in next few days.

[2019-06-20 01:19] hazendaz opened #121 "remove the site bot"
The site bot caused a regression in already fixed site pages.  The site bot is unnecessary as travis is already configured to deploy the site via gh-pages as well as during release.

[2019-06-21 01:11] hazendaz commented on #121
after review, noticed that I did not have gh-pages handled in way outside of the release and in comparison projects never actually had the site automated fully.  At the moment, the bot doesn't do it correctly and is messing up the site upon each commit.  So options are to review why to see if that can be fixed; or simply remove the bot with no automation or with automation.

[2019-07-11 09:30] massdosage commented on #96
We're also interested in this feature. We have a Jenkins installation that has the FindBugs Jenkins plugin for displaying reports. Unfortunately this Jenkins doesn't have the Warnings plugin that supports SpotBugs so if we want to move to SpotBugs but still be able to generate reports in Jenkins we need to be able to modify the output filename to be findbugsXml.xml. We're hoping the XML format is

[2019-07-15 13:14] andreluizf opened #123 "generated report xdoc"
Hi, I looked at all the documentation and I'm not able to generate the report xdoc by the maven plugin.

Has anyone done this?

I need to generate xdoc because logstash does not recognize the legacy xml.

[2019-07-15 20:34] hazendaz commented on #123
@andreluizf Can you provide more details as to what you believe is obsolete providing links to same and what you believe is missing also providing links to same?

[2019-07-16 01:28] hazendaz commented on #121
@KengoTODA I think we need to remove this or figure out why its broken.  First, how exactly does the site bot work?  Second, why is it not distributing all the files?  A normal maven site release is nothing more than 'mvn site site:deploy'.  However, in this case it loses a lot of the files.  If I run locally I can fix this.  The files it seems to drop are jquery folder, groovy api docs, various r

[2019-07-16 01:29] hazendaz commented on #121
btw - it's currently broken and will become broken every time anything is commited right now which has resulted in a few separate tickets.

[2019-07-16 02:36] andreluizf commented on #123
hello, in the two generated files. Both xdoc and legacy do not have line breaks (LF or CRLF), and logstash can not identify when it starts or ends a tag.

I'm seeing a way to indent xml through some maven plugin. but ideally it would be generated in this way. with the \ n \ r and \ t

[2019-07-16 04:58] Orangelxl opened #127 "Using the -Dplugins parameter is useless in Linux"
I used `mvn com.github.spotbugs:spotbugs-maven-plugin:spotbugs -Dplugin=com.h3xstream.findsecbugs:findsecbugs-plugin -DincludeFilterFile="spotbugs-security-include.xml" -DexcludeFilterFile="spotbugs-security-exclude.xml"` in Windows, that's OK.
But in Linux, it just used spotbugs, not findsecbugs-plugin, I don't know why

[2019-07-16 05:02] KengoTODA commented on #121
Hi @hazendaz, thanks for mentioning me!

Could you tell me which bot do you mean? I cannot find it in [integration setting page](https://github.com/spotbugs/spotbugs-maven-plugin/settings/installations).

Or do you mean [the deployment phase](https://github.com/spotbugs/spotbugs-maven-plugin/blob/a7c7163135b355e9f34c9bd8f9904772ead0a870/.travis.yml#L19) in CI pipeline? I think [it works without an

[2019-07-16 05:08] hazendaz commented on #127
@Orangelxl Did you also try quotes around your usage as you did elsewhere?

[2019-07-16 05:13] hazendaz commented on #121
Hi @KengoTODA , its the deployment phase.  What exactly is that doing?  It states it's deploying it but in all those final items I do not see that it actually is running site then site:deploy.  It appears like it just assumes it's deploying what is there or at least no output.  Can you give me some insite into how that is working?

For reference so you can see what is missing, I have restored a sa

[2019-07-16 05:21] hazendaz commented on #121
I guess what is throughing me off is that it claims the commit is made by 'spotbugs-bot'.  I presume that is something with the gems token of yours.  After looking at results here more closely, its failing building the site and thus it's only partially uploading one.

[2019-07-16 07:02] hazendaz commented on #121
I'm trying to rework this entire thing which I'm hoping will give better error messages and effectively do what the original was trying to do.  If I get this far, I will at least be getting an email that site distro failed and hopefully that causes subsequent failure of the deploy.

[2019-07-16 07:32] Orangelxl commented on #127
Oh, I found that I modified pom.xml on Windows but not on Linux.
I want to automate code auditing through maven cli parameters rather than pom.xml.
I want use this `mvn com.github.spotbugs:spotbugs-maven-plugin:spotbugs -Dplugin=com.h3xstream.findsecbugs:findsecbugs-plugin -DincludeFilterFile="spotbugs-security-include.xml" -DexcludeFilterFile="spotbugs-security-exclude.xml"`
 After I tried it, I

[2019-07-16 07:32] Orangelxl commented on #127
Oh, I found that I modified pom.xml on Windows but not on Linux.
I want to automate code auditing through maven cli parameters rather than pom.xml.
I want use this `mvn com.github.spotbugs:spotbugs-maven-plugin:spotbugs -Dplugin=com.h3xstream.findsecbugs:findsecbugs-plugin -DincludeFilterFile="spotbugs-security-include.xml" -DexcludeFilterFile="spotbugs-security-exclude.xml"`
 After I tried it, I

[2019-07-16 08:20] KengoTODA commented on #121
It firstly run `mvn site`:

https://github.com/spotbugs/spotbugs-maven-plugin/blob/ffd759e430310817997ee9c1922943fa59542e2f/.travis.yml#L20

And force-push the files in `target/site` directory to `gh-pages` branch:

https://github.com/spotbugs/spotbugs-maven-plugin/blob/ffd759e430310817997ee9c1922943fa59542e2f/.travis.yml#L31

I think this operation overwrote the changes from your local Windows.

[2019-07-16 08:23] KengoTODA commented on #121
So if you want to add more files in the site, please make sure the final HTML is successfully generated in `target/site` directory. Maybe you need to add new files under `src/site` directory.

[2019-07-16 19:04] hazendaz commented on #121
The files are there.  The current setup was always failing but echo reset the response code sp travis was happy and only sent partial site.  I'm switching the entire thing over to deploy scripts.  I should have it working correctly tonight.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Kengo TODA <notifications@github.com>
Sent: Tuesday, July 16, 2019 4:23

[2019-07-17 03:11] hazendaz commented on #123
@andreluizf Please provide actual error condition, stack trace or otherwise to help here.  The output is syntactically correct xml.  Xml does not require line endings or tabs.  It's managed by the tags themselves.  Any modern IDE can format the results without question.  I still don't know what you are inferring when you say logstash cannot recognize legacy xml.  What is legacy about this?  Also,

[2019-07-17 20:25] hazendaz commented on #121
Issue resolved.  Jdk8 posed a problem.  I have switched to jdk 11 to build the site and using the newer style.  It's working as expected, site was updated and it is not missing any files.

[2019-07-17 20:25] #121 closed

[2019-07-17 20:26] hazendaz commented on #120
This has been resolved now.

[2019-07-17 20:26] #120 closed

[2019-07-17 20:26] hazendaz commented on #123
@andreluizf Do you mean legacy by the fact there is a reference to the style of xml produced on our site?  Just trying to clarify what you mean by legacy...

[2019-07-17 20:28] hazendaz commented on #103
@ctubbsii This is fixed on master now.  If you could, pull the project and run a quick build and test to confirm it behaves as you would expect.   I had been hanging on release so I could keep version strings in sync with spotbugs but most likely if this is ok now will release a 3.1.12.1 release.  I could do that pretty much as soon as this is confirmed by others.

[2019-07-17 23:07] hazendaz opened #129 "Travis-ci condition for site generation not correct"
See travis-ci file.

condition: $TRAVIS_COMMIT_MESSAGE != ^\[maven-release-plugin\]*

The above regex does not work.  The site is supposed to not run when the branch contains indication that it just was released as site is performed during the release.  While this is a very minor issue, this ticket is to keep an eye on the issue as it could negatively harm the build by pushing site twice at same l

[2019-07-18 03:06] KengoTODA commented on #121
Awesome!

[2019-07-18 04:16] ctubbsii commented on #103
@hazendaz Built as 3.1.13-SNAPSHOT and tested on a large project (Apache Accumulo) and it works as expected, without groovy warnings.

[2019-07-19 03:28] hazendaz commented on #103
@ctubbsii Thanks for confirming!  I have pushed a release as 3.1.12.1.  It should hit central in next couple of hours.

[2019-07-19 03:28] #103 closed

[2019-07-19 10:44] cmathiesen commented on #96
I've raised the PR ^ that hopefully fixes this issue, any feedback or comments is appreciated :)

[2019-07-22 02:38] #96 closed

[2019-07-22 08:53] mcgin commented on #103
Thanks for the new release, however I'm still seeing this with Java 12.0.1 + and the new version.   Stack trace is below after running with `--illegal-access=debug`

[code]

Environment:

[code]

[2019-07-23 03:37] hazendaz commented on #103
@aaime I'll open up a new issue for tracking.  This is a yet to be fixed item with groovy.  They still have a tracking item related to illegal access issues.  Our integration tests pick this one up (only this one).  I'll link back to here and note the test in the new ticket.

[2019-07-23 03:40] hazendaz opened #132 "Illegal reflective access with groovy 3.0.0-beta2 on jdk 12."
Issue can be found by running our integration tests and looking at the 'build.log' for check-fail test.

See further details on history of fixing these via #103 along with this report.  While we cannot actually fix this, this is simply a placeholder until groovy fixes the issue to help assist users.

Below is the output seen.

[code]

[2019-07-23 03:55] hazendaz commented on #127
@Orangelxl I understand now.  Currently there are two ways to get plugins added.  You figured out the inbuilt one in the pom.  The other is pluginList.  However that requires you to physically provide the jar including path so it can pass that onto spotbugs.  I think to accomplish the nicer looking setup approach you have, you may want to invest some time trying to work out the details and raise a

[2019-07-24 18:46] VolodymyrHunko commented on #103
updated groovy to 3.0.0-betta2 and finally have no more this issue with JDK12

[2019-08-23 14:18] EPluribusUnum opened #138 "Comma separation in <excludeFilterFile>not working"
Hi!

This states, that comma separation shoudl work in <excludeFilterFile> : https://github.com/spotbugs/discuss/issues/46
But it uses just the last file, not all defined files.

spotbug maven plugin version : 3.1.12.2

[2019-08-26 09:40] EPluribusUnum commented on #138
debug output of maven. You can see, it gets two different FindBugsExclude.xml files from the pom.xml, but it just uses the last one twice.

 `[DEBUG] Spotbugs arg is -xml:withMessages
[DEBUG] Spotbugs arg is -auxclasspathFromInput
[DEBUG] Spotbugs arg is -projectName
[DEBUG] Spotbugs arg is Online Számla
[DEBUG] Spotbugs arg is -effort:max
[DEBUG] Spotbugs arg is -low
[DEBUG] Spotbugs arg is -prog

[2019-09-16 20:15] jacktwilliams opened #144 "FindSecBugs plugin isn't working with Maven plugin"
Hello, the spotbugs-maven-plugin is working, but adding the FindSecBugs plugin is having no effect. Here is my pom file
``<plugin>
  <groupId>com.github.spotbugs</groupId>
  <artifactId>spotbugs-maven-plugin</artifactId>
  <version>3.1.12.2</version>
  <executions>
    <execution>
      <id>spotbugs</id>
      <phase>compile</phase>
      <goals>
	<goal>spotbugs</goal>
      </goals>
      <config

[2019-09-16 20:45] jacktwilliams commented on #144
So, after reading this issue, I tried this:
``
 mvn com.github.spotbugs:spotbugs-maven-plugin:spotbugs -Dplugin=com.h3xstream.findsecbugs:findsecbugs-plugin -DincludeFilterFile="../conf/StaticAnalysis/spotbugs-include.xml" -DexcludeFilterFile="../conf/StaticAnalysis/spotbugs-exclude.xml"
``
And the findsecbugs plugin starts working. But if I add "maxRank=9" then the plugin stops working.

[2019-09-16 20:53] jacktwilliams commented on #144
Doing this stripped down plugin specification with no executions
`<plugin>
  <groupId>com.github.spotbugs</groupId>
  <artifactId>spotbugs-maven-plugin</artifactId>
  <version>3.1.12.2</version>
  <configuration>
    <excludeFilterFile>${platform.root}/conf/StaticAnalysis/spotbugs-exclude.xml</excludeFilterFile>
    <includeFilterFile>${platform.root}/conf/StaticAnalysis/spotbugs-include.xml</incl

[2019-09-17 00:06] hazendaz commented on #144
@jacktwilliams See the integration tests, there are examples of the plugin usage.  I personally have used this for a long time and it works fine.  Do make sure not to use 'LATEST' but an explicit version number as 'LATEST' is bad practice and deprecated from maven usage.

[2019-09-17 15:40] jacktwilliams commented on #144
Thanks for the tip about 'LATEST', I pulled that from the findsecbugs documentation. However, I found the bug that is unrelated.

This pom works to generate the findsecbugs errors, but adding 'maxRank' in the config breaks the findsecbugs functionality and no security bugs are found.

`      <plugin>
	<groupId>com.github.spotbugs</groupId>
	<artifactId>spotbugs-maven-plugin</artifactId>
	<version>

[2019-09-27 15:18] h3xstream commented on #144
@hazendaz Oups. I did not know LATEST was deprecated.
I will update the example to use open-ended version range. `<version>[1.9.0)</version>`

[2019-10-07 11:51] planetf1 opened #150 "Allow spotbugs maven plugin to produce xml AND html"
Currently the spotbugs maven plugin can be configured to produce EITHER xml or html.

In our build for https://github.com/odpi/egeria we are running spotbugs (with find-secbugs) & creating .xml files which are then uploaded to SonarCloud for incorporation in with the output from pmd and sonar's own scans.

For developers & other interested parties, viewing the spotbugs output alone would be useful

[2019-10-26 19:10] markkolich commented on #132
+1 here on JDK 13

[2019-11-20 01:12] Fernal73 commented on #98
I'm receiving the same error while running spotbugs from the command line. I'm using
 spotbugs-4.0.0-beta4.jar.

Additionally, I'm unable to generate an output XML file using a directory.

It's generating the analysis and outputting it to the specified output file but there's no XML output. Is this the one that provides the line numbers? Using spotbugs for the first time.

https://github.com/Ferna

[2020-02-07 13:24] cgoeller commented on #132
The same issue occurs on jdk11

[2020-02-16 22:57] hazendaz commented on #132
While this issue is groovy related, changes were performed on our logging within #173 and therefore this appears cleared now from last places that I saw.  I am working on releasing support tied to spotbugs 4.0.0.  I'm closing this now.  If this shows up again, feel free to call out where.

[2020-02-16 22:57] #132 closed

[2020-02-16 23:17] hazendaz commented on #129
!= is wrong, use !~.  Changing.  Once confirmed will close this.

[2020-02-16 23:39] hazendaz commented on #73
Issue resolved and will be available in plugin for spotbugs 4.0.0.

[2020-02-16 23:39] #73 closed

[2020-02-17 01:58] hazendaz commented on #98
@Fernal73 I think you would want to open an upstream issue with spotbugs directly.  I long since fixed this in the plugin by forcing it to use slf4j simple.  Information you have provided here indicates not using the maven plugin.

[2020-02-17 05:34] Fernal73 commented on #98
OMG!!

I forgot about this bug completely and what I did to remedy it on my
installation.
How could I not share this with you?

Let me check out what's been done since and open an issue on the main repo,
if needed.

[2020-02-26 08:26] Serranya opened #184 "Introduce threshold of warnings before failing"
Currently we often have the following use case.

We add spotbugs to a new project. Spotbugs shows a few hundred warnings. We see way to many problems to fix in a few days/weeks. But we still want to incrementally improve the code base.

Currently we just need to look very carefully at the number of warnings to make sure that the situation improves. This is not optimal.

What I would like would be

[2020-02-26 14:57] hazendaz commented on #184
Would you be able to raise a pull request for this?

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Peter Lamby <notifications@github.com>
Sent: Wednesday, February 26, 2020 3:26:45 AM
To: spotbugs/spotbugs-maven-plugin <spotbugs-maven-plugin@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [spotbugs/spotbugs-maven-plugin] Introduc

[2020-02-26 15:27] Serranya commented on #184
Yes probably.

[2020-02-26 15:31] Serranya commented on #184
I just took a look at the source and there seems already to be a maxAllowedViolations. This would fit my requirements :)

I don't know how I missed this parameter the first time I looked.

[2020-02-26 15:31] #184 closed

[2020-02-26 17:35] hazendaz commented on #184
OK cool.  Thanks

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Peter Lamby <notifications@github.com>
Sent: Wednesday, February 26, 2020 10:31:03 AM
To: spotbugs/spotbugs-maven-plugin <spotbugs-maven-plugin@noreply.github.com>
Cc: Jeremy Landis <jeremylandis@hotmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [spotbugs/spotbugs-maven-plugin] In

[2020-03-18 08:37] oleg-nenashev opened #197 "4.0.0 changelog is missing"
Hi, it looks like 4.0.0 major release was cut 2 days ago, and so far there is release notes associated with it (AFAICT).

- No changelog on Gitub Releases: https://github.com/spotbugs/spotbugs-maven-plugin/releases/tag/spotbugs-maven-plugin-4.0.0
- GitHub.io site references 4.0.0-SNAPSHOT which does not seem to be complete: https://spotbugs.github.io/spotbugs-maven-plugin/changelog.html

Diff betw

[2020-03-18 08:51] jjlharrison commented on #197
There are release notes: https://github.com/spotbugs/spotbugs/blob/master/CHANGELOG.md#400---2020-02-15

[2020-03-18 13:09] hazendaz commented on #197
I'll add a note but yah its just to support spot bugs 4.0.  Everything else is mostly build related.  There are maybe a handful of improvements.  I'll try to get something up today.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: James Harrison <notifications@github.com>
Sent: Wednesday, March 18, 2020 4:51:39 AM
To: spotbugs/spotbugs-maven-plugin <spotbugs-

[2020-03-19 00:03] hazendaz commented on #197
change log added.  Nothing specific in relation to spotbugs directly.

[2020-03-19 00:03] #197 closed

[2020-04-14 15:10] lowecg opened #212 "Unable to run spotbugs 4.0.0 in build"
In spotbugs-maven-plugin 3.1.12 we can run spotbugs as part of our build and break it if any violations are encountered:

[code]

If I change the version to 4.0.0, the build fails with the following:

```[ERROR] Failed to execute goal com.github.spotbugs:spotbugs-maven-plugin:4.0.0:spotbugs (spotbugs) on project xxxx: Execution spotbugs of goal com.github.spotbugs:spotbugs-maven-plugin:4.0.0:spotb

[2020-04-19 21:42] hazendaz commented on #212
@lowecg I'm not able to duplicate this.  I do see that you are trying to use spotbugs 4.0.1 instead of 4.0.0 as this plugin shipped.  Can you please change back to 4.0.0 on spotbugs and see if the issue persists?

[2020-04-21 07:54] lowecg commented on #212
@hazendaz thanks for looking into this. I've tried with sb 4.0.0 as requested and see the same result (see attached).

[log.txt](https://github.com/spotbugs/spotbugs-maven-plugin/files/4508497/log.txt)

[2020-04-21 08:35] lowecg commented on #212
I've created a simple project that reproduces the issue for me:

https://github.com/lowecg/spotbugs-repro-issue212

`mvn clean install -e -X > log.txt`
[log.txt](https://github.com/spotbugs/spotbugs-maven-plugin/files/4508713/log.txt)

I removed my local ~/.m2/settings and ~/.m2/repository prior to the above execution.

[2020-04-26 19:59] hazendaz commented on #212
@lowecg Thanks for the sample.  It works for me without issue.  I'm using Oracle Jdks or Open Jdks on travis CI.  I notice you have a different jdk.  I downloaded corretto and again no issue.  Are you sure you don't have groovy somewhere else on your path that is not 3.0.0 or better?  The issue you are experiencing is groovy and this maven plugin is entirely groovy on latest release.  So it's poss

[2020-04-27 08:34] lowecg commented on #212
Thanks again for trying to recreate the issue and providing feedback.

I managed to get the build working. My local environment had the following option (amongst others) from an experiment to improve build speeds (dev only!). If I unset this, then the build works. If I set it back then it breaks as before.

`export MAVEN_OPTS="-Xverify:none"`

Clearly we have no desire to make spotbugs work with t

[2020-04-30 17:12] jbennett2091 opened #217 "Unable to use execution-level configuration"
Maven DTD for plugins supports configuration blocks at the <plugin>, or within the nested <plugin><executions><execution> block.    Typically, you can use either block - plugin configuration applies to all executions.  Unfortunately, spotbugs is only using configuration at the plugin level and does not support execution-level configuration.

I would like to do two-passes of spotbugs.  One, with fa

[2020-05-07 12:09] #212 closed

[2020-05-13 10:05] famod opened #219 "check goal: introduce failThreshold or similar"
As of 4.0.0 I cannot collect _all_ bugs (`<threshold>Low</threshold>`) but only fail if there are "Normal" or "High" bugs.

If there was a `failThreshold` parameter I could say:
[code]
and the report should then contain _all_ bugs but would not _fail_ if there were only "Low" bugs.

Bonus: Log all bugs that are below the `failThreshold` as a warning.

[2020-06-06 20:09] #219 closed

[2020-06-22 23:43] Fernal73 opened #230 "Spotbugs maven report: how to get text output"
[code]

The above is the configuration parameters for my Spotbugs plugin entry.
How do I output the report in text format?

[2020-07-03 13:29] Fernal73 commented on #230
I find the XML output too verbose even when there are no bugs reported. Is there a way of reducing the verbosity of the output?

[2020-07-03 21:52] davewichers opened #236 "spotbugs report: broken links with inner classes"
I believe this is basically the same issue another tool had as documented here: https://issues.apache.org/jira/browse/SUREFIRE-1443

In my project, I noticed warnings like:
[warn] [XHTML Sink] Modified invalid anchor name: 'org.owasp.esapi.SecurityConfiguration$Threshold' to 'org.owasp.esapi.SecurityConfigurationThreshold'

But when I looked in the generated spotbugs.html file, I noticed the error

[2020-07-08 22:17] #34 closed

[2020-07-30 17:30] jorsol opened #243 "Fail using SpotBugs 4.1.0"
Running spotbugs-maven-plugin:4.0.4 and SpotBugs 4.1.0 fails with:

[code]

[2020-07-31 00:55] hazendaz commented on #243
The pom mentions that it is invalid.  Try clearing your .m2 cache and retrying.

[2020-07-31 05:39] pzygielo commented on #243
@jorsol Skip upgrading sb to 4.1.0 and use just released 4.1.1 which fixes this.

[2020-07-31 12:52] hazendaz commented on #243
@pzygielo Thanks for the info!

[2020-07-31 12:52] #243 closed

[2020-08-07 03:02] KVAC opened #246 "[Suggestion][MAVEN] with example"
Please search for dependencies when analyzing.
Information is often contained in the jar itself (META-INF/maven/DEPENDENCY.pom.properties OR META-INF/maven/DEPENDENCY.pom.xml)

[2020-08-07 03:15] KengoTODA commented on #246
@KVAC Thanks for your description.

Could you share a [mcve project](https://stackoverflow.com/help/minimal-reproducible-example) that needs to manually add additional jars?

In my understanding, current spotbugs-maven-plugin [handles the dependency enough](https://github.com/spotbugs/spotbugs-maven-plugin/blob/ee5f8dd660d23b533c14e3a657aaac4b992296b3/src/main/groovy/org/codehaus/mojo/spotbugs/Spo

[2020-08-07 04:00] hazendaz commented on #246
I'm not sure I follow what the ask is here.  Spot bugs maven plugin runs spotbugs against the project its used with.  What purpose is reading other jar files for?  Those are not part of the source code and I don't think have any real relationship to the source its analyzing.  The reports generated are on the static code in the build.

Are you suggesting that maven doesn't understand the product it

[2020-08-07 04:05] hazendaz commented on #246
There are some additional plugins for spotbugs extensions.  But maven resolves all that without having to have any further specialized setup.

[2020-08-08 16:35] KVAC commented on #246
I do not argue that the plugin is good, but I say the gui application, there you need to manually add additional jars for analysis

I just want to show this omission and provide a simple example

![Screenshot_20200808_132007](https://user-images.githubusercontent.com/52430337/89715293-2c4f4080-d994-11ea-981f-908a369f9019.png)
![Screenshot_20200808_131452](https://user-images.githubusercontent.com/

[2020-08-09 00:36] hazendaz commented on #246
@KVAC There you go!  That should have been your lead in.  OK That would have helped isolate where this was needed.  That GUI is part of the core not the maven plugin so over here is the wrong spot.  I do now see what you are after very clearly.  I see the point.  It should offer auto detection.  Have you written a PR that can be added that will do that auto detection into the GUI?  I think that wo

[2020-08-10 00:26] KengoTODA commented on #246
OK then I will re-transfer this issue to spotbugs/spotbugs, and wait for PRs to fix it.

[2020-08-13 18:40] davewichers opened #248 "How to auto-link spotbugs report into mvn site report?"
I've followed these instructions: https://spotbugs.github.io/spotbugs-maven-plugin/usage.html to automatically run spotbugs and generate spotbugs.html report when I run: mvn site for my project (per https://github.com/nahsra/antisamy/blob/master/pom.xml).

However, many Maven plugins, when included in the reporting section cause the report they generate to be linked to from the Project Documentati

[2020-08-16 20:54] hazendaz commented on #248
I don't see an issue here with spotbugs.  I can say your configuration on maven project info reports is not correct.  You end up losing the index.html to get into the reports.  But ignoring that, project reports does show spotbugs and the left hand side further shows spotbugs as well.

![image](https://user-images.githubusercontent.com/975267/90343707-0e5f8c80-dfe1-11ea-91d2-c4de745c2a45.png)

[2020-08-16 20:56] hazendaz commented on #248
In how you have setup versions plugin, it works exactly as it should.  I might suggest you add fluido-skip to your site so it looks nicer and add in more for maven info reports or just uses it's defaults so you get a nicer look at feel plus many of the items that are missing now besides spotbugs.

[2020-08-17 14:53] davewichers commented on #248
Hey. Sorry, I apparently messed up my SpotBugs mvn configuration which is why I wasn't seeing SpotBugs in the menu. When I ran this on the latest master branch, like you did, it is in the menu. So false alarm on that score.  Thanks for the feedback. 2 questions/comments:

1) You mention: "I can say your configuration on maven project info reports is not correct. You end up losing the index.html to

[2020-08-17 18:09] hazendaz commented on #248
Now that I've clone your repo, I don't mind sending a quick pull request later tonight for that.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Dave Wichers <notifications@github.com>
Sent: Monday, August 17, 2020 10:53:45 AM
To: spotbugs/spotbugs-maven-plugin <spotbugs-maven-plugin@noreply.github.com>
Cc: Jeremy Landis <jeremylandis@hotmail.com>; Comment <

[2020-08-19 01:00] hazendaz commented on #248
I'll try to get back to this tomorrow and bring you a PR.

Fluido is a skin that maven provides.  Their newer sites are all generated from it.  Its pretty easy to use.  It gives it a much more fresh look than the really old apache default.

[2020-08-24 14:52] davewichers commented on #236
I have no idea how to correct this. I just noticed the bug and describe what the correct output should be. I also noticed related discussions on the same problem in other tools, and @KengoTODA decided this issue belongs to this project rather than SpotBugs itself. Basically, there is a step missing somewhere where a String needs to be decoded before being included in the output, as an encoded valu

[2020-08-26 20:02] davewichers commented on #248
The problems  I had were a misconfiguration on my part. Nothing wrong with spotbugs-maven-plugin in this regard.

[2020-08-26 20:02] #248 closed

[2020-08-28 01:40] kloessst opened #250 "Add sourcePath or sourceFile to xdoc report"
The xdoc report currently only uses the class name to locate the bug instance. While it is possible to re-construct the source file in most cases, classes with inner classes are troublesome as the '$' delimiter could also be part of the name of the outer class.

Does something speak against adding a `sourceFile` or `sourcePath` attribute to the `file` element? Had a quick look at the code and espe

[2020-09-02 10:10] AlexSWeiss opened #252 "Maven build in multi module project"
Hi!
During adding spotbugs to my multi module project I've got an issue:
`Failed to execute goal on project %X: Could not resolve dependencies for project %X:war:1.0.1-SNAPSHOT: Failure to find %Y.
1-SNAPSHOT in https://repository.apache.org/content/repositories/snapshots/ was cached in the local repository, resolution will not be reattempted until the update interval of apache.snapshots has elaps

[2020-09-04 00:43] hazendaz commented on #252
@AlexSWeiss Based on your example runs you have not ran the project to completion.  Compilation alone isn't enough.  Please try maven clean install which will ensure its loading it to your cache.

[2020-09-04 00:45] hazendaz commented on #252
I would also add you are missing some key data here such as showing that it was actually this plugin that complained.  That error generally happens from my experience much earlier in a build.  Also are you in apache org?  That pull seems a big odd for a general user, not corporate as its publich but it looks like some old items.  You may want to make sure you are connected to maven central or corp

[2020-09-04 09:17] AlexSWeiss commented on #252
@hazendaz execute `maven clean install -pl :%Y` and now I got other error. Also tried to exclude "apache org" and have same errors
Stack-trace:
[code]

[2020-09-05 21:30] hazendaz commented on #252
@AlexSWeiss This shows that your build is running out of memory.  That is not a normal condition.  You can supply more member to maven but typically that is extremely rare.  You may want to ensure you have enough memory on the machine you are using.

[2020-09-06 09:24] AlexSWeiss commented on #252
Followed suggestion from [stackoverflow theme](https://stackoverflow.com/questions/63718616/spot-bugs-maven-build-in-multi-module-project): use `mvn clean install` and change to Xmx1024m. Got following error after executing `mvn spotbugs:spotbugs -pl :%X`:
[code]

Also Tried to execute comand mvn spotbugs:spotbugs on hole project at got this error:
[code]

[2020-09-08 12:48] AlexSWeiss commented on #252
Resolve issue by adding next to my pom.xml:
[code]

[2020-09-08 12:48] #252 closed

[2020-09-08 15:02] hazendaz commented on #252
Cool!  Glad you got it working.

[2020-09-28 12:41] famod opened #259 "Release 4.1.3?"
It's been a while since 4.0.4 and SB itself is already on 4.1.3.
I am also "waiting" for https://github.com/spotbugs/spotbugs-maven-plugin/commit/973fb04f5e02a0dc80b4d532dfa4448556c28ec2

I'd therefore appreciate a new release of the plugin (4.1.3?).

[2020-09-29 01:41] hazendaz commented on #259
I'll try to get the release out tomorrow.

[2020-09-30 12:44] hazendaz commented on #259
Resolved, this will be in central in next 2 hours.

[2020-09-30 12:44] #259 closed

[2020-09-30 14:20] famod commented on #259
Awesome, thanks @hazendaz!

[2020-10-08 06:46] Bananeweizen opened #266 "Duplicate paragraph in maven site documentation"
https://spotbugs.github.io/spotbugs-maven-plugin/usage.html

Paragraphs 3 and 4 are identical (except for their headline):
* Filter bugs to report
* Specifying which bug filters to run

[2020-10-19 10:37] iloveeclipse opened #269 "Provide 4.1.4 release?"
See discussion in https://github.com/spotbugs/spotbugs/issues/1340.
Should we create 4.1.4 release?

[2020-10-19 15:34] hazendaz commented on #269
sure, not necessary but can push the update today.

[2020-10-19 16:15] hazendaz commented on #269
released, will be in central in next couple hours.

[2020-10-19 16:15] #269 closed

[2020-10-19 16:16] iloveeclipse commented on #269
Thanks! It would be nice to keep the plugin in-sync with spotbugs.

[2020-10-21 07:50] mofleury opened #271 "false positive RCN_REDUNDANT_NULLCHECK_OF_NONNULL_VALUE on try-with-resource with Java 11"
Hi,

I am facing an issue that seems to be a false positive, and that appears when compiling in Java 11, using Low threshold.

It seems to impact try-with-resources, when more than one instance are created. The error I receive is RCN_REDUNDANT_NULLCHECK_OF_NONNULL_VALUE. It affects at least versions 4.1.4 and 4.1.3.

Here is a minimal reproduction case :

source code :
[code]

pom.xml :
[code]

wh

[2020-10-21 07:56] mofleury commented on #271
side note : this bug does not appear with Java 8, I have not tested with 9 or 10.

[2020-10-21 13:12] hazendaz commented on #271
It sounds like the issue is with spotbugs itself rather than the plugin.  Have you checked to see if this is reported on spotbugs?  The plugin is just wrapping spotbugs.

[2020-10-21 13:14] hazendaz commented on #266
@Bananeweizen Can you raise a Pull Request for this issue?

[2020-10-23 08:14] mofleury commented on #271
ah yes, should be an issue for spotbugs itself, you are right. I'll check this with them and report it there if not done already.

Thank you!

[2020-10-23 08:16] mofleury commented on #271
Yes indeed, it was reported here : https://github.com/spotbugs/spotbugs/issues/1338

Closing this one then!

[2020-10-23 08:16] #271 closed

[2020-10-27 11:26] famod commented on #35
Has there been any progress? We are now seeing this frequently on our Jenkins CI server (we are using -T and there can also be concurrent builds).

[2020-11-05 08:52] liuhu opened #272 "Not support baseline maven 3.3.3 for building"
Not support baseline maven 3.3.3 for building
![image](https://user-images.githubusercontent.com/1286384/98218774-2400a480-1f87-11eb-9abf-7cf749a626fd.png)

My jenkins maven version is：
![image](https://user-images.githubusercontent.com/1286384/98218335-9c1a9a80-1f86-11eb-94c5-6a21147f6c17.png)

[2020-11-05 13:06] hazendaz commented on #272
@liuhu Its possible your path isn't exactly correct.  Maven is what decides that check and its stating 3.2.5 so 3.2.5 or better would be allowed.  I don't have such an old copy of maven and would not really advice using such old maven version (jdk same thing).  If you can, upgrade but further review your environment variables as there is potentially a mix of what is being used.  You can run maven

[2020-12-11 13:21] PabloGalegoC opened #281 "Root-level exclude filter file copied to every module when configured with relativePath"
### Description
In multimodule projects that use a exclude filter file at root project level to be consumed by every module, the file is being copied to its equivalent module path when the plugin is configured with `<${project.parent.relativePath}>`.

### How to reproduce
Create a multimodule project with:
- Exclude filter file at root-project level (e.g. `root-project/src/main/config`)
-  Configu

[2020-12-11 14:40] hazendaz commented on #281
I believe #238 removes the drive letter that was showing up in target pulling the entire .m2 cache used in the process.  Can you put a simple demo together that shows the issue you are seeing here?  I'm not sure I entirely understand your specific issue.

[2020-12-11 14:41] hazendaz commented on #281
Actually a plus would be to add an integration test here that causes the issue so we can make that part of the codebase :)

[2020-12-14 08:31] PabloGalegoC commented on #281
Here's an example of the structure and configuration that reproduces the issue I'm seeing:
[PabloGalegoC/excludefiltersfile-issue-example](https://github.com/PabloGalegoC/excludefiltersfile-issue-example)

If a `mvn package` is executed, the `spotbugs-exclude-filters.xml` from `src/main/config` is copied to `module1/src/main/config` and `module2/src/main/config`.

[2020-12-15 15:43] aoterolorenzo commented on #281
@hazendaz I took the liberty of submit the integration test triggered by this issue in #282 as you just suggest.

[2020-12-16 02:54] hazendaz commented on #281
Hi @PabloGalegoC @aoterolorenzo I clearly see the issue now.  I'm also having trouble seeing the original problem that was intended to be fixed.  I need to do a bit more research on older OS tomorrow to see if I can cause the original condition again as I'm trying to understand what exactly its doing there overall and why this occurs.  I did confirm this does not occur on version prior to the chan

[2021-01-03 20:05] hazendaz commented on #272
closing issue as no response and setup issue as plugin only requires 3.2.5 currently.  Future releases will likely require latest regardless so advisable to use latest maven 3.6.3 and ensure it is properly setup on path.

[2021-01-03 20:05] #272 closed

[2021-01-03 22:30] hazendaz commented on #281
I have reverted the prior fix #238.  I adjusted the logic a bit so it handles windows as well which does address #34 original issue with pathing but ultimately this all needs looked at more as it probably shouldn't be copying files around how it is or at least with the add in plugins which is the original issue.

[2021-01-03 22:30] #281 closed

[2021-01-03 22:34] hazendaz commented on #34
This original issue was handling that was missing with windows that was present for linux style line endings.  The original fix put in actually broke things so this is sort of an issue still.  I think copying the jars to target is unnecessary as they won't change during the run  However, for time being to get folks running again the original issue here of deeply nested is gone.  The jar files in q

[2021-01-03 22:36] hazendaz opened #296 "Plugin addons for spot bugs being copied to 'target' unnecessarily"
The processing of this plugin copies a lot of files used during the spotbugs check to the target directory.  Of this, any plugin addons are copied into that space.  This was originally raised as issue #34 and fixed via #238.  However, that caused other negative side effects.  The original patch was reverted and subsequent patch added that better handles windows thus the original deeply nested arti

[2021-01-03 22:55] hazendaz commented on #129
closing as migrated to github actions and new pattern for site generation when needed on 'site' branch.

[2021-01-03 22:55] #129 closed

[2021-01-05 14:59] joschi opened #298 "GitHub Pages (gh-pages) broken"
The website for `spotbugs-maven-plugin` seems to be broken since 05eb4f71bad7d44732229f527ec697e2d7117869 (on `gh-pages` branch).

The documentation at https://spotbugs.readthedocs.io/en/latest/maven.html links to https://spotbugs.github.io/spotbugs-maven-plugin/ which is "empty".

[code]

[2021-01-06 00:37] hazendaz commented on #298
@joschi Thanks.  I saw that then it appeared again so something in the switch over from the old way to github actions.  I'm looking into it now.

[2021-01-06 01:55] hazendaz commented on #298
@joschi Site is back up.  Odd issue.  I moved from a long unsupported site deployment to the way maven scm is doing it natively now.  This project uses a super pom for most of its setup and it seems it detected that making it go back 2 directories then resolved oddly named directory.  Anyway, was able to just use that location as it was in the build still.  So all back to working order.

[2021-01-06 01:55] #298 closed

[2021-02-11 15:39] belugabehr commented on #101
I too am struggling on this.  Nothing I do seems to get spot-bugs to load the XML file.  I cannot figure out why without additional logging.

[2021-02-18 14:14] bloussou opened #301 "Fail to detect error for @CheckReturnValue for org.assertj.core.api.Assertions.assertThat()"
Hello,
I tried to set up `spotbugs-maven-plugin` to detect misuse of `Assertions.assertThat()` of assertJ as explained in [assertJ doc](https://assertj.github.io/doc/#assertj-core-incorrect-usage) but no errors is detected for this...

I'm using assertJ core `3.18.1`.
Here are my settings :
[code]
spotbugsIncludeFilter.xml :
[code]
Thanks for your help

[2021-03-17 08:04] gloNelson opened #306 "Maven plugin failed to run on basic options (printing run detectors and analyzed classes)"
I found a bug when using the maven plugin. For basic options supported by spotbugs (printing run detectors and analyzed classes), it fails to print anything to the log.
### Expected Output
print run detectors and analyzed classes

### Actual Ouput
As can be seen from the output, the analyzed classes are not printed in the log file.

[java] Pass 1: Analyzing classes (0 / 171) - 00% completePass 1:

[2021-03-20 17:20] gloNelson commented on #306
I realized that the fault is in the way the maven plugin sets the property. I have created a pull request to fix this. Please help me review this. @hazendaz Thanks a lot.

[2021-03-21 21:04] #306 closed

[2021-03-21 21:04] hazendaz commented on #306
merged in fix #307, thanks for finding the cause of issue.

[2021-03-23 10:16] pzygielo opened #308 "Please push the sources that were used for 4.2.2 release (available in central)"
I understand sources are distributed in https://repo.maven.apache.org/maven2/com/github/spotbugs/spotbugs-maven-plugin/4.2.2/ `*-sources.jar` as usual, but it would be nice for them to be synchronized with repository.

If possible - please push the tag as well.

[2021-03-23 17:12] hazendaz commented on #308
tag pushed, not sure what you mean with sources, those are as released as its all pushed at once.

[2021-03-23 17:16] hazendaz opened #309 "Review why tagging changed, enable to auto push, and auto push commits during release"
tagging dropped project name for some reason, look into that.  Also turn on so tags are released automatically as that is missed each time.  As well make sure commits are auto pushed.

[2021-03-23 17:16] hazendaz commented on #308
assuming you were referring to exact commits as like tags were not pushed.  both are up now.  closing this out.

[2021-03-23 17:16] #308 closed

[2021-03-23 17:21] pzygielo commented on #308
Yes, those commits I meant - thank you!

[2021-03-23 17:23] hazendaz commented on #308
I opened a separate ticket so I remember to turn those on by default.  That is a hold over from original ownership and not normal in most things I work on anyways so its easily missed.

[2021-04-07 22:10] rhbvkleef opened #313 "[BUG] Dependency upon build-tools not used in reporting plugin"
We have a multi-module project:

[code]

and we have a reporting plugin defined:

[code]

and we defined a build plugin:

[code]

And this does not work. The manual provides an alternative, which is to add the `build-tools` module as an extension in the pom.xml of each of the submodules, but this creates the problem that the build-tools need to be installed before any goal on either the root proje

[2021-04-08 02:15] hazendaz commented on #313
@rhbvkleef Have you tried moving the dependencies to plugin management?  Also can you try simply with 'build-tools' not being nested?  If neither works, this support likely never worked and would need looked at further.  If you could put together a sample project that fails to work, you could start by adding integration test to the current project then looking at 'ResourceHelper.groovy' to underst

[2021-04-12 23:20] pc-eberk opened #315 "Unable to disable spotbugsXmlOutput"
`spotbugsXml.xml` is unexpectedly generated when `spotbugsXmlOutput` is `false`

[code]
or
[code]

[2021-04-14 17:31] rhbvkleef commented on #313
Unfortunately, neither works. I'll look at setting up a sample project.

[2021-04-17 01:21] hazendaz commented on #309
Removing release plugins post 4.2.3 release for next time.

[2021-04-17 01:26] hazendaz commented on #309
updated the parent pom and this release it had the proper tagging.

[2021-04-17 01:35] hazendaz commented on #309
closing as resolved.

[2021-04-17 01:35] #309 closed

[2021-04-27 07:47] myin142 opened #320 "Error when running site with custom plugin"
When I run `mvn site` with a custom plugin added with the `plugin` configuration, I get the following error. But it works if I run it the command for each module like this `mvn site -pl module-1 -pl module-2 ...`

[code]

It is mostly like this [SO question](https://stackoverflow.com/questions/53823297/spotbugs-and-maven-with-a-linux-machine-using-excludefilterfile-and-plugin-confi) from 2 years a

[2021-05-05 14:45] davecpayne opened #322 "Does Spotbugs actually run as part of the verify goal?"
The [documentation for `spotbugs:check`](https://spotbugs.github.io/spotbugs-maven-plugin/check-mojo.html) claims that it:

but from experimentation, that seems not to be the case.

I've created a very small project, with a POM that looks like this:

[code]

and a single class which contains a deliberate SpotBugs violation. When I execute either `mvn clean install` or `mvn clean verify`, I get suc

[2021-05-06 01:30] hazendaz commented on #322
@davecpayne It requires execution goal to be added to run in mvn clean install as its designed for reporting.  When you run spotbugs:check, you are deliberity telling it to run execution on check.

[2021-05-06 09:20] davecpayne commented on #322
Are you able to link me to any documentation that says that? I can't see any mention of execution goal anywhere in the [the docs](https://spotbugs.github.io/spotbugs-maven-plugin/), am I missing something? Also, in what sense, if I have to do something to make it happen, does it therefore bind to the verify phase "by default"?

[2021-05-06 20:00] hazendaz commented on #322
@davecpayne The plugin is designed to be run with 'mvn site'.  It doesn't run just be being listed in your pom.  If you look into the source you can find all the integration tests which has many examples of usage.  The site shows this [here](https://spotbugs.github.io/spotbugs-maven-plugin/plugin-info.html)

[2021-05-07 20:11] noorul opened #323 "Getting error while running spotbugs target in multi-module project"
I have the below pom.xml in the parent folder and the command ```mvn spotbugs:check``` gives an error. The same plugin works with a simple project without modules.

[code]

Error reported
[code]

[2021-05-08 18:59] hazendaz commented on #323
I think maven has a bug.  Their logic is defined [here](https://maven.apache.org/guides/introduction/introduction-to-plugin-prefix-mapping.html) and I know what you are doing used to work.  I tried a few different plugins with maven 3.8.1 and not a one works now unless owned by maven or mojohaus.  There isn't anything special they define so I'm not sure if this is just an issue in 3.8.1 or how lon

[2021-05-08 21:38] noorul commented on #323
@hazendaz Thank you, adding ```pluginGroups``` to made it work. But normally we do not have settings.xml inside the source repository. Do you know whether there is an open bug for this?

[2021-05-08 21:55] hazendaz commented on #323
I don't know if any defect is opened but seemed to recall maven changing in recent versions how resolutions worked. Youc can instead just list spotbugs in dependency management and that will also solve for it.

[2021-05-09 03:34] acolomba commented on #113
Analysis properties are passed as Java system properties, so they can be set in the `<jvmArgs>` configuration element.

E.g. to set the `findbugs.assertionmethods` analyzer property:

[code]

[2021-06-14 18:57] wellmsan opened #330 "Spring CSRF protection disabled"
Hi Guys!

Spotbugs does not allow CSRF disabled in Spring Secutiry settings.
[code]
How do I disregard this validation? I need to keep the CRSF incapacitated.

[2021-08-04 12:46] jcamerin commented on #60
Developers on my regularly ask how to check static analysis locally on their development machines.  If the plugin can generate html output, they will be able to open those pages with a browser.  This is faster for them than waiting for a Jenkins build to complete

[2021-08-25 02:39] h3xstream commented on #330
This is a question that is related to https://github.com/find-sec-bugs/find-sec-bugs/issues

[2021-09-22 00:44] KengoTODA opened #359 "Could you consider creating a GitHub Releases page for each tag?"
Currently GitHub's UI displays the version 4.2.0 as latest:

![IMG_20210922_083255](https://user-images.githubusercontent.com/505751/134265160-6146d75e-64e3-4e41-8ab9-d5b18513e650.jpg)

This is because we have no GitHub Releases page for the version 4.2.2 and later.

We can automate the Releases page creation. If we use `mvn release:perform` to deploy artifacts, we can hook the tag event and run G

[2021-09-22 00:46] KengoTODA commented on #359
In the Releases page, it is nice to provide changelog or release note, but it depends on project.

[2021-09-22 02:13] hazendaz commented on #359
@KengoTODA I'll look into doing so.  Might look at what maven recently did with some plugins, they setup auto changelog creation and that probably can assist here.  What line specifically in the attached am I looking at?  I looked at it but wans't sure exactly what was pushing the release log there.  Not a big deal, I'm sure there is a specific action for it that makes it easier in the process.  C

[2021-09-29 09:06] sephiroth-j opened #360 "Java 17 + JEP 411: Security Manager is deprecated and should not be used anymore"
Building a project with  spotbugs-maven-plugin v4.4.1 emits the following warning due to [JEP 411](https://openjdk.java.net/jeps/411). With Java 18, `System::setSecurityManager` will throw an `UnsupportedOperationException`!

**Warning from Java**
[code]

[2021-09-29 21:01] sephiroth-j commented on #360
My bad, wrong repo and it already open in spotbugs/spotbugs/issues/1579

[2021-09-29 21:01] #360 closed

[2021-10-19 19:28] neodem opened #367 "Parent Pom not importing correctly"
Our company uses Jfrog Artifactory for a maven repo and it is having trouble when importing the plugin.

It appears that the parent pom : https://github.com/spotbugs/spotbugs-maven-plugin/blob/2b57e82ca7c5eadcde1f4479436ef53a1317f685/pom.xml#L6

is not able to be read because of references to: `child.project.url.inherit.append.path`

Would if be possible to clean this reference out of the parent p

[2021-10-21 11:51] hazendaz commented on #367
@neodem I'm in process of releasing a new copy with removal of those attributes so you can get around this.  Given this is second report of same issue and knowing most corporate policy would not allow you to get around this in a timely manor and the fact that maven failed to document this well and it doesn't do as advertised anyways, it fealt best to just remove that logic.  Expect new version 4.4

[2021-10-21 12:22] neodem commented on #367
Thank you so much for this. You're right, getting my company to upgrade Artifactory in a timely way is a giant undertaking!

This worked. Thank you for the repair.

I did get a Java warning (java 17) when running though. I suppose you know about this already though..

[code]

[2021-11-22 13:42] radio-rogal opened #369 "Warning about deprecated options -output and -outputFile"
Full text:

I have run just `mvn spotbugs:check`

[2021-11-25 11:47] Reissner opened #373 "Cannot access configuration file"
I configure the plugin as follows:
[code]

As you can see i want to configure both `includeFilterFile` and `excludeFilterFile`.
Whereas for includes I want to access via a dependency and essentially the same for all my projects,
the excludes shall be specific to the project.

Running `mvn com.github.spotbugs:spotbugs-maven-plugin:4.5.0.0:check` yields

```Could not find resource 'spotbugs/spotbugs

[2021-11-25 11:48] Reissner commented on #373
Maybe, if i did something wrong, some documentation on the issue is needed.

[2021-11-25 20:45] Reissner opened #374 "documentation: goals"
I needed some time to spot the goas:
I found https://spotbugs.readthedocs.io/en/stable/maven.html.
Better this is written down for the maven plugin also.

[2021-11-27 00:10] hazendaz commented on #374
That is the maven plugin, not sure what the ask is here.  and actual IO pages for the plugin have all goals listed as that is how maven works -> https://spotbugs.github.io/spotbugs-maven-plugin/plugin-info.html.

[2021-12-20 21:20] hazendaz commented on #367
closing as original issue resolved for older artifactory.

[2021-12-20 21:20] #367 closed

[2021-12-20 21:21] hazendaz commented on #369
@radio-rogal Once PR #382 is merged, can you confirm 'spotbugs' branch here now works as you expect?

[2021-12-20 21:55] #369 closed

[2021-12-21 10:34] radio-rogal commented on #369
Confirm that the warning message is not shown:

    [INFO] >>> spotbugs-maven-plugin:4.5.2.0-SNAPSHOT:check (default-cli) > :spotbugs @ project-name >>>
    [INFO]
    [INFO] --- spotbugs-maven-plugin:4.5.2.0-SNAPSHOT:spotbugs (spotbugs) @ project-name ---
    Downloading from central: https://repo.maven.apache.org/maven2/com/github/spotbugs/spotbugs-annotations/4.5.2/spotbugs-annotations-4.5.2.ja

[2021-12-21 16:17] hazendaz commented on #369
@radio-rogal Great!  Thank you!  I'll push this release out today.

[2021-12-21 23:20] hazendaz commented on #323
closing as work around present.

[2021-12-21 23:20] #323 closed

[2022-01-03 15:46] kwin opened #386 "Mark Maven-exported dependencies as scope provided"
To prevent unnecessary artifact downloads with Maven 3 all dependencies provided by the Maven distribution should have scope "provided" (and only be listed with the version shipping with the minimum Maven version being supported). For further info look at https://issues.apache.org/jira/browse/MPLUGIN-370 and https://issues.apache.org/jira/browse/MNG-7097.

[2022-01-03 23:18] hazendaz commented on #386
Overall this won't really help much with maven 3 given all plugins would need to do this for it to really matter.  I had this done a couple weeks back but didn't send PR until after you reminded me :)  Maven plugin plugin 3.6.2 now echos what to make provided.  PR #388

[2022-01-04 08:19] kwin commented on #386
I disagree, because plugins have different versions of Maven-exported dependencies referenced. I was forced to download 3.8.4 of a lot of Maven artifacts unnecessarily only because of spotbugs-maven-plugin although I regularly build large Maven projects on a regular basis (no other Maven plugin I use depends on Maven 3.8.4 given that this distro is only a few weeks old)

[2022-01-04 13:58] hazendaz commented on #386
ok but you have downloaded many other maven components.  Even maven hasn't made this change entirely yet.   They just started doing so a few weeks ago.  I follow them pretty tightly.  I'm just pointing out the obvious.  Most, if not all, mavne plugins pull maven core versions and it will take a long time for all plugins to become compliant and some may not due to little support.  Look in your .m2

[2022-01-04 13:59] hazendaz commented on #386
done in #388

[2022-01-04 13:59] #386 closed

[2022-01-04 19:44] walkerbrianpatrick opened #391 "github code search does not work on forked repositories"
If you attempt to search the source code on the github web interface, it replies 'forked repositories cannot be searched'. As the previous home for the plugin is archived, consider making this the root project, and forking from the appropriate commit to gleclaire/findbugs-maven-plugin.

[2022-01-05 02:12] hazendaz commented on #391
What specifically are you using that does not work?  It works fine searching from this page, here is an example query (https://github.com/?q=spotbugs-maven-plugin).  If you are using other methods, see https://docs.github.com/en/search-github/searching-on-github/searching-in-forks.  You could also star the project so it ends up auto indexed if it is above original.

Not sure exactly what method yo

[2022-01-05 02:17] hazendaz commented on #374
closing as this is documented on readme.

[2022-01-05 02:17] #374 closed

[2022-01-05 06:00] walkerbrianpatrick commented on #391
I read the article you linked, it looks like they don't index forks until it is more popular than the root repo. Dropping a star is the least I can do, but won't solve the problem until loads more people do it.

Strange that you can do code search as maintainer...

[2022-03-24 20:35] hazendaz commented on #266
resolved.  closing.

[2022-03-24 20:35] #266 closed

[2022-04-02 10:32] mathieucarbou commented on #63
We also need this support.

At Terracotta we are using the toolchain plugin to ensure projects are built with a supported JDK, and tested against different JVMs. This is a good way to control the environment, ensure the right JDK / vendor are used, since a build platform or dev computer could have different JVMs installed and used by default. That's also not true that a project compiling with 8 fo

[2022-04-02 16:06] hazendaz commented on #63
Can you provide an example of an actual issue?
 doesn't run 8nto unsupported class issues.

Sent from my Verizon, Samsung Galaxy smartphone
Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Mathieu Carbou ***@***.***>
Sent: Saturday, April 2, 2022 6:32:18 AM
To: spotbugs/spotbugs-maven-plugin ***@***.***>
Cc: Jeremy Landis ***@***.***>; Mention ***@***.***>
Sub

[2022-04-02 16:18] hazendaz commented on #63
As noted in here, if you need jdk 9+, add the api's to you project and continue using jdk 8.  I don't think that is really an issue here.  Having 100s of projects at my day job using jdk 17 to build and jdk 8 to run, toolchains isn't at all used, it should be fine.  Unless there is something else I'm missing here.  I don't believe so though.

Sent from my Verizon, Samsung Galaxy smartphone
Get Out

[2022-04-02 16:41] mathieucarbou commented on #63
That's the point.

The issue is happening when using toolchain because the spotbugs plugin does not obey the toolchain constrains.

**Example:**

[code]

You will see plenty of:

[code]

This happens when:

[code]

Using the toolchain plugin to enforce compilation and test with JDK 1.8, but spotbugs seems to analyze some classes coming from the wrong jvm (17) instead of looking into toolchain for

[2022-04-02 18:10] hazendaz commented on #63
@mathieucarbou Feel free to raise a PR.  Some work was done in 2018 but never panned out.

However those are IMHO old considerations.

With jdk 9+, what animal sniffer used to do is built in.  Its controlled by the release flags.  Further using extra enforcer rules to prevent third party binary incompatibility which removed any need to use a separate jdk via toolchains.  It won't cause any differe

[2022-04-02 18:16] hazendaz commented on #63
suggestion on that project you pointed out.

            <source>${java.build.version}</source>
            <target>${java.build.version}</target>

On the compiler plugin is ignoring all other plugins that use the same values.  Also, if using jdk 17, its missing setup for release tags.  Again looking at the project I noted, see how maven is done in proeprties section instead.  I don't recall if th

[2022-04-02 18:18] hazendaz commented on #63
These are what control it more globally that other plugins further rely on.

[code]
note this is split source/test and doesn't need to be.  The test ones will use the main ones.

If using jdk 11+ (really 9+), the following can come into play.

[code]
Same thing here, the test one is optional.  You may want to play around with that and see if the issue behaves any different.

[2022-04-02 18:42] mathieucarbou commented on #63
We don't want to use 17. There is a difference between:

A) the JVM used to run Maven (17)
B) the JVM used to compile the project (1.8, from toolchain speced by version and vendor)
C) the JVM used to test the project (1.8 or 11, from toolchain, speced by version and vendor)

B et C are controlled through properties (in our case `java.build.version` and `java.yesy.version`). We are building and tes

[2022-04-02 20:21] hazendaz commented on #63
@mathieucarbou I don't see that option available in the groovy docs.

However, the issue is far easer than that based on testing of this.  The version of spotbugs used in 'angela' doesn't support jdk 17.  The spotbugs plugin is built groovy which is built on ASM and requires that it support jdk 17.  The errors are with the plugin rather than anything with compilation / testing as noted.  I didn't

[2022-04-03 07:43] mathieucarbou commented on #63
Uesy, I know, and this is exactly why, in the plugin, when starting the spotbug jvm through the ant task programmatically, the ant java task has to use the right jvm that was used to compile the project.

https://ant.apache.org/manual/Tasks/java.html

The jvm attribute is used to specify which jvm has to be used to spawn the java class, in this case , spotbug, and it has to be taken from the toolc

[2022-04-03 18:18] hazendaz commented on #63
I get ant allows that but groovy doesn't show it.  Regardless I'm open to a PR but either way you need to upgrade to the latest which is only supported version.  That in turn fails your code due to other spotbug compliance issues.  If you can fix the new violations on latest that may just outright resolve your issue.  Implying toolchain support everywhere sort of indicates you have an expectation

[2022-04-03 20:11] davewichers commented on #236
Hey - its been 8 months. Any progress on this? I happened to notice it again today :-)

[2022-04-03 20:55] hazendaz commented on #236
Please reconfirm on latest and if possible a PR.  This has not been looked at outside of notes here.

Sent from my Verizon, Samsung Galaxy smartphone
Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Dave Wichers ***@***.***>
Sent: Sunday, April 3, 2022 4:11:24 PM
To: spotbugs/spotbugs-maven-plugin ***@***.***>
Cc: Jeremy Landis ***@***.***>; Comment ***@***.**

[2022-04-03 20:58] davewichers commented on #236
Pull Request? For what? I don't know how to fix this issue. I can confirm I'm using: Spotbugs-maven-plugin 4.6.0.0 and I still have this problem.

[2022-04-17 21:47] #114 closed

[2022-04-21 12:08] ginkel opened #423 "Java 18 compatibility"
Hi there,

running the spotbugs-maven-plugin (v4.6.0.0) on Maven 3.8.4 under Java 18 ends up with the following exception:

[code]

Any ideas?

[2022-04-21 12:34] hazendaz commented on #423
See https://openjdk.java.net/jeps/411

Try

-Djava.security.manager=allow

To continue to allow it, its off by default with 18.

[2022-04-21 12:39] ginkel commented on #423
Sure,

[code]

works as a workaround, but IMHO it would be desirable if the plugin works out-of-the-box, wouldn't it?

[2022-04-21 12:47] hazendaz commented on #423
plugin is written in groovy, its still using it based off that stack (the groovy ant code).  I checked groovy github and last they have on it is some prep work preparing to deprecate it so it really would hinge on them.

[2022-04-23 13:36] hazendaz commented on #423
Closing issue, updated readme to note considerations such as this.  Groovy has no fix yet.  They reverted the code they were applying and noted it will be sometime in the future done some other way.  Unfortunately this plugin is limited by their speed at getting compliant with java and there are work arounds which are now directly noted with link to details in groovy.

[2022-04-23 13:36] #423 closed

[2022-04-23 13:38] hazendaz commented on #373
When you run this, you are in the root of the project, so your path would be src/main/resources/spotbugs/spotbugs-include.xml.  If you want it to be simply spotbugs as not related to your project itself, put that in the root under same spotbugs folder to match your configuration.  Issue is otherwise not related to this plugin but rather the maven setup.  I'm closing issue as configuration issue.

[2022-04-23 13:38] #373 closed

[2022-04-23 13:39] hazendaz commented on #391
Guess I should have also starred the project, its tied with the root now.  Just needs one more bump then this should be resolved.

[2022-04-23 13:45] hazendaz commented on #320
As plugins do work, there are three known ones that are well used, look into the integration tests for the same setup, find the 3 plugin repos and take a look at how they coded their code to see if that helps.

[2022-04-23 13:45] hazendaz commented on #330
closing as solution noted.

[2022-04-23 13:45] #330 closed

[2022-04-23 13:47] hazendaz commented on #313
<excludeFilterFile>build-tools/findbugs/excludes.xml</excludeFilterFile> is incorrect after looking at this again.  It needs the entire path to that as ran from the root.  So that would be <excludeFilterFile>build-tools/src/main/resources/findbugs/excludes.xml</excludeFilterFile>.  Closing as this was configuration issue and not related to the plugin.

[2022-04-23 13:47] #313 closed

[2022-04-23 14:00] #68 closed

[2022-04-23 14:25] hazendaz commented on #322
There is no default execution on this plugin without calling the plugin or the site run.  Closing issue as usage issue, if documentation needs to clarify, please open a PR to do so.  Otherwise this is working as intended.  Thanks.

[2022-04-23 14:25] #322 closed

[2022-04-23 15:08] myin142 commented on #320
I'm sorry but I don't have the project anymore that used the custom plugin. And I also have no idea anymore what the exact problem was. So I don't mind if this issue is closed or it can be left open for other people with the same problem.

[2022-04-23 15:12] hazendaz commented on #320
thanks, will close as it is searchable by others still and likely not an issue since there are 3 mainline plugins that work fine.

[2022-04-23 15:12] #320 closed

[2022-04-23 15:42] ginkel commented on #423
Thanks for the update!

[2022-05-05 11:11] immens opened #429 "Embedded include/exclude configuration"
It looks handy if it was possible to add filters to pom. Something like this:
[code]

[2022-05-12 09:06] chanjetsdp opened #432 "VA_FORMAT_STRING_MISSING_ARGUMENT bug won't find by spotbugs, but findbugs can find."
mvn -B org.codehaus.mojo:findbugs-maven-plugin:3.0.4:check -Dfindbugs.maxRank=15 -Dfindbugs.effort=Default -Dfindbugs.threshold=medium -Dfindbugs.failOnError=true

[code]

mvn -B com.github.spotbugs:spotbugs-maven-plugin:4.6.0.0:check -Dspotbugs.maxRank=15 -Dspotbugs.effort=Default -Dspotbugs.threshold=medium -Dspotbugs.failOnError=true
[code]

 MeMemberTypeSaaService.java:[line 73]:

[code]

[2022-05-13 01:45] chanjetsdp commented on #432
https://github.com/spotbugs/spotbugs/issues/2049

[2022-05-13 01:45] #432 closed

[2022-06-01 17:49] gusega commented on #296
we had an issue because of this in our project, as we are producing a single jar artifact in the target folder and our deployment scripts were searching for the jar. The workaround was to add the configuration property
`<xmlOutputDirectory>${project.build.directory}/spotbugs-results</xmlOutputDirectory>`. This way the `plugin.jar` gets copied into the `spotbugs-results` subdirectory of `target` an

[2022-06-29 22:27] hazendaz commented on #391
@walkerbrianpatrick Think this is now resolved, can you confirm it works for you now?

[2022-07-18 13:45] MetroMarv opened #454 "Validation doesn't fail for project with test sources only"
# Steps to reproduce

- create a new Maven repository with only sources in `src/test/..`
  - there should be no java classes in `src/main/`
- create a file that violates any Spotbugs rule in `src/test/`
- add the Spotbugs Maven plugin to the pom.xml file
  - set also the plugin's setting `includeTests` to `true` ([includeTests](https://spotbugs.github.io/spotbugs-maven-plugin/verify-mojo.html#incl

[2022-07-18 13:51] hazendaz commented on #454
Thank you for the detailed information here.  This sounds like an easy fix.  I will take a look at this as soon as I can.

Sent from my Verizon, Samsung Galaxy smartphone
Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Marvin Rensing ***@***.***>
Sent: Monday, July 18, 2022 9:45:15 AM
To: spotbugs/spotbugs-maven-plugin ***@***.***>
Cc: Subscribed ***@***.***>

[2022-07-23 01:15] #454 closed

[2022-07-24 04:10] hazendaz commented on #391
closing as resolved.

[2022-07-24 04:10] #391 closed

[2022-08-11 02:00] renovate[bot] opened #479 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

---

### ⚠ Dependency Lookup Warnings ⚠

-   Renovate failed to look up the following dependencies: `spotbugs-maven-plugin.it:common`, `spotbugs-maven-plugin.it:build-tools`, `spotbugs-maven-plugin.it:check-multi-parent-relative-pat

[2022-08-12 20:36] depinski commented on #322
The documentation indicates the plugin should run by default in verify, not site. The docs you linked to make this explicit.

https://spotbugs.github.io/spotbugs-maven-plugin/check-mojo.html

[2022-09-05 19:05] hazendaz commented on #322
To clarify, reported user ran maven build cycles not the plugin goal.  When running plugin goal they get the expected result.  They want it to run during normal maven cycle based on the pom, therefore they need to add the check goal to the pom to make that happen.  It binds when the goal is run to verify.  This plugin is reporting site based so verify in that context is during site unless otherwis

[2022-09-14 13:19] blacelle opened #488 "Parallel build without forking in a multi-module leads to spotbugs getting stuck"
I consider a 50+ multi-module project, with 100k+ java files. When applying spotbugs in our projects, we spend roughly 1 second per project. OK

I'm on the latest versions:

		<spotbugs.version>4.7.2</spotbugs.version>
		<spotbugs-maven.version>${spotbugs.version}.0</spotbugs-maven.version>

If I run the process with parallelism (e.g. `mvn install -T 8`), our build tends to timeout. I attach a jst

[2022-09-17 16:39] hazendaz commented on #488
@blacelle This is a strange one, we run our integration tests on github actions in parallel and those all work.  I presume you cannot share what you are running more than you have here.  If that is the case, can you see if it is feasible to produce a small sample that has this issue or possibly look in our readme at how we run integration tests and give any pointers into what we are doing that may

[2022-09-17 17:36] blacelle commented on #488
Indeed, this happens with a private project. I'm not able to reproduce with public projects with similar configuration.

I see in https://github.com/apache/ant/blob/master/src/main/org/apache/tools/ant/Project.java#L1300 that given piece of code may rely on System.in, which may explains something getting stuck.

Given the 3 ExecuteJava seems to be relying on the same underlying BufferedInputStream

[2022-09-17 17:38] blacelle commented on #488
https://github.com/spotbugs/spotbugs/blob/master/spotbugs/src/main/java/edu/umd/cs/findbugs/TextUICommandLine.java#L409 seems to confirms the 3 modules relies on System.in. Maybe we lack a synchronized block around https://github.com/spotbugs/spotbugs/blob/master/spotbugs/src/main/java/edu/umd/cs/findbugs/TextUICommandLine.java#L297, to easily circumvent such concurrent use of System.in

[2022-09-29 09:07] corebonts commented on #488
We have the same issue, with the same stack traces, so one is waiting for the System.in, and the others are waiting for that first one.

Could the auxclasspath passed in the arguments file or in a separate file instead of the System.in?

[code]

Blocking thread:
[code]

4 blocked threads:
[code]

[2022-10-11 07:02] hazendaz commented on #63
Can you provide an example of an actual issue?  This runs on numerous jdks already.  It doesn't have issues itself as noted

Sent from my Verizon, Samsung Galaxy smartphone
Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Jeremy Landis ***@***.***>
Sent: Saturday, April 2, 2022 12:05:58 PM
To: spotbugs/spotbugs-maven-plugin ***@***.***>; spotbugs/spotbugs-mave

[2022-10-11 07:33] mathieucarbou commented on #63
Please read the whole thread ;-) It's there.

[2022-10-15 03:27] hazendaz commented on #63
Sorry @mathieucarbou not sure what is going on with my email.  I sent that message not 4 days ago but back on 4/2 per my email history.  Having messages show up on various tickets all 4 days ago so feels like some lost set of emails now showing up and seems to span all year.  All seem to be from verizon so likely some bug on their end got fixed.

Anyway back on this highly unlikely this will be pr

[2022-10-15 06:45] mathieucarbou commented on #63
Where I work, we are still supporting the branches of our products (and previous ones) that are more than 10 years old. Most of our projects need to be compiled with 1.8 (and not with a more recent one using compatibility flags), and can run on >= 1.8. We also need to run our project tests on 1.8, 1.11 and 1.17 to ensure everything works fine because we are doing low level stuff and dealing with o

[2022-10-15 15:22] hazendaz commented on #63
Maybe the original PR from 2018 could be explored further.  Seems it may have been close but needs github actions setup now.  I'm willing to take a look at that effort.

Sent from my Verizon, Samsung Galaxy smartphone
Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Mathieu Carbou ***@***.***>
Sent: Saturday, October 15, 2022 2:45:38 AM
To: spotbugs/spotbugs-m

[2022-11-03 09:01] dnsbtchr opened #505 "EI_EXPOSE_REP2 for Kotlin Collection"
Good morning, I have a problem with the spotbugs-maven-plugin in a Kotlin project.
I have this class
`
data class Class(
    val myCollection: Collection<String>?,
)
`
The documentation of the "Collection" interfaces says:
/**
 * A generic collection of elements. Methods in this interface support only read-only access to the collection;
 * read/write access is supported through the [MutableCollect

[2022-11-03 09:36] dnsbtchr commented on #505
The same happens for Kotlins `Map` interface.

[2022-11-03 12:33] hazendaz commented on #505
@dnsbtchr Believe this should be a report to spotbugs itself as the plugin here just runs it.  Transferring it over there.

[2022-11-03 19:07] jwgmeligmeyling opened #506 "Make sarifFinalFile folder customisable"
Currently defaults to `${project.build.directory}` but should be configurable, just as the [`<xmlOutputDirectory>`](https://spotbugs.github.io/spotbugs-maven-plugin/spotbugs-mojo.html#xmlOutputDirectory) and [`<spotbugsXmlOutputDirectory>`](https://spotbugs.github.io/spotbugs-maven-plugin/spotbugs-mojo.html#spotbugsXmlOutputDirectory) parameters allow.

[2022-11-03 19:57] jwgmeligmeyling opened #507 "Make sarif output file name customisable"
The plugin currently uses `spotbugsSarif.json` as output for SARIF files. Some plugins however rely on the `.sarif` file extension (i.e. [`github/codeql-action/upload-sarif`](https://github.com/github/codeql-action/blob/main/src/upload-lib.ts#L153). The current parameters do not allow to set a custom SARIF output file name/extension.

[2022-11-06 16:17] #506 closed

[2022-11-06 16:17] #507 closed